

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="de" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Fan1Speed (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'de',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Stichwortverzeichnis" href="../../../../genindex.html" />
    <link rel="search" title="Suche" href="../../../../search.html" />
    <link href="../../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../index.html">Docs</a> &raquo;</li>
        
      <li>Fan1Speed (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../../_sources/Libraries/HVAC-Library/HVAC-Functions/Components/Fan1Speed.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-fan1speed"></span><div class="section" id="fan1speed-fb">
<span id="fan1speed"></span><span id="index-0"></span><h1>Fan1Speed (FB)<a class="headerlink" href="#fan1speed-fb" title="Link zu dieser Überschrift">¶</a></h1>
<p>FUNCTION_BLOCK Fan1Speed</p>
<div class="section" id="kurzbeschreibung">
<h2>Kurzbeschreibung<a class="headerlink" href="#kurzbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Steuerung eines einstufigen Ventilators</div>
<div class="line">Zusatzfunktionen: Luftmangelüberwachung, Betriebsüberwachung, Reparaturschalter, Handübersteuerung, Statusanzeige</div>
<div class="line">Typische Anwendung: Steuerung eines Raum - Abluftventilators</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Darstellung<a class="headerlink" href="#darstellung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><img alt="../../../../_images/Fan1Speed_FB.png" src="../../../../_images/Fan1Speed_FB.png" />
</div></blockquote>
</div>
<div class="section" id="schnittstellen">
<h2>Schnittstellen<a class="headerlink" href="#schnittstellen" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="eingange">
<h3>Eingänge<a class="headerlink" href="#eingange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id1">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xEn</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Anforderung des Ventilators</td>
</tr>
<tr class="row-odd"><td><em>xForce</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Zwangsübersteuerung nach Handübersteuerung</td>
</tr>
<tr class="row-even"><td><em>xFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Betriebsmeldung des Ventilators</td>
</tr>
<tr class="row-odd"><td><em>xPFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Meldung der Luftmangelsituation</td>
</tr>
<tr class="row-even"><td><em>xMSwitch</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Meldung des Reparaturschalters</td>
</tr>
<tr class="row-odd"><td><em>xAlarmIn</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störmeldung des Ventilators</td>
</tr>
<tr class="row-even"><td><em>eAOO</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>HVACTYPES.eManBin.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware</td>
</tr>
<tr class="row-odd"><td><em>xQuit</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Rücksetzung der Störmeldungen ( Betriebsüberwachung, Luftmangelüberwachung )</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="ausgange">
<h3>Ausgänge<a class="headerlink" href="#ausgange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id2">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xHB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator nach Handübersteuerung</td>
</tr>
<tr class="row-odd"><td><em>xAB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator vor Handübersteuerung</td>
</tr>
<tr class="row-even"><td><em>xAlarmFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störmeldung der Betriebsüberwachung</td>
</tr>
<tr class="row-odd"><td><em>xAlarmPFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störmeldung der Luftmangelüberwachung</td>
</tr>
<tr class="row-even"><td><em>dtLastFb</em></td>
<td>DATE_AND_TIME</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Datum / Uhrzeit des letzten Betriebs des Ventilators</td>
</tr>
<tr class="row-odd"><td><em>udiOperatingHours</em></td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Betriebsstunden der Umwälzpumpe</td>
</tr>
<tr class="row-even"><td><em>udiCountFb</em></td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Anzahl der Einschaltungen der Umwälzpumpe</td>
</tr>
<tr class="row-odd"><td><em>xAlarm</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelstörmeldung</td>
</tr>
<tr class="row-even"><td><em>xAuto</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelmeldung Automatikbetrieb</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="sollwerte-parameter">
<h3>Sollwerte / Parameter<a class="headerlink" href="#sollwerte-parameter" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id3">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><strong>udiPFbControlTime</strong></td>
<td>UDINT</td>
<td>1 bis 3600s</td>
<td>60s</td>
<td>Meldeverzögerung der Luftmangelüberwachung</td>
</tr>
<tr class="row-odd"><td><strong>xPFbControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Freigabe der Luftmangelüberwachung</td>
</tr>
<tr class="row-even"><td><strong>xAlarmControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Einfluss von <em>xAlarm</em> auf <em>xAB</em></td>
</tr>
<tr class="row-odd"><td><strong>udiFbControlTime</strong></td>
<td>UDINT</td>
<td>0 ... 300s</td>
<td>60s</td>
<td>Meldeverzögerung der Betriebsüberwachung</td>
</tr>
<tr class="row-even"><td><strong>xFbControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Freigabe / Sperrung der Betriebsüberwachung</td>
</tr>
<tr class="row-odd"><td><strong>xForceOption</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Zustand vom Ausgang <em>xHB</em> bei Zwangsübersteuerung</td>
</tr>
<tr class="row-even"><td><strong>eManModeB</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.ManOff, eMANBIN.ManOn</td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang <em>xHB</em></td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Funktionsbeschreibung<a class="headerlink" href="#funktionsbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="allgemeines">
<h3>Allgemeines<a class="headerlink" href="#allgemeines" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Dieser Funktionsbaustein steuert einen einstufigen Ventilator.</div>
<div class="line">Es kommen im Wesentlichen folgende Funktionsbausteine zur Anwendung:</div>
</div>
<p><a class="reference internal" href="../Monitoring/AirShortage.html#airshortage"><span class="std std-ref">AirShortage</span></a></p>
<p><a class="reference internal" href="../Binary/ManBin.html#manbin"><span class="std std-ref">ManBin</span></a></p>
<p><a class="reference internal" href="../Counter/OperatingHours.html#operatinghours"><span class="std std-ref">OperatingHours</span></a></p>
</div>
<div class="section" id="freigabe-ventilator-vor-handubersteuerung-xab">
<h3>Freigabe - Ventilator vor Handübersteuerung <em>xAB</em><a class="headerlink" href="#freigabe-ventilator-vor-handubersteuerung-xab" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilator vor Handübersteuerung <em>xAB</em> wird durch die Anforderung des Ventilators <em>xEn</em>, die Sammelstörmeldung <em>xAlarm</em>,
die Meldung des Reparaturschalters <em>xMSwitch</em>, den Parameter <strong>xAlarmControl</strong> und die Luftmangelüberwachung beeinflusst.</div>
<div class="line"><br /></div>
<div class="line">Die Freigabe - Ventilator vor Handübersteuerung <em>xAB</em> ist aktiv ( = TRUE ), falls folgende Zustände gleichzeitig vorliegen:</div>
<div class="line"><br /></div>
<div class="line">Fall 1:</div>
<div class="line"><br /></div>
<div class="line"><em>xEn</em>             = TRUE  ( Anforderung aktiv )</div>
<div class="line"><em>xMSwitch</em>            = TRUE  ( Motorschutzschalter nicht ausgelöst )</div>
<div class="line"><strong>xAlarmControl</strong>     = FALSE ( Sammelstörmeldung nicht berücksichtigt )</div>
<div class="line"><br /></div>
<div class="line">Fall 2:</div>
<div class="line"><br /></div>
<div class="line"><em>xEn</em>             = TRUE  ( Anforderung aktiv )</div>
<div class="line"><em>xAlarm</em>          = FALSE ( Sammelstörmeldung nicht aktiv )</div>
<div class="line"><em>xMSwitch</em>            = TRUE  ( Motorschutzschalter nicht ausgelöst )</div>
<div class="line"><strong>xAlarmControl</strong>     = TRUE  ( Sammelstörmeldung berücksichtigt )</div>
<div class="line"><br /></div>
<div class="line">In allen übrigen Situationen ist die Freigabe - Ventilator vor Handübersteuerung <em>xAB</em> nicht aktiv ( = FALSE ).</div>
</div>
</div>
<div class="section" id="freigabe-ventilator-nach-handubersteuerung-xhb">
<h3>Freigabe - Ventilator nach Handübersteuerung <em>xHB</em><a class="headerlink" href="#freigabe-ventilator-nach-handubersteuerung-xhb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilator vor Handübersteuerung <em>xHB</em> entspricht der Freigabe - Ventilator vor Handübersteuerung <em>xAB</em>,
zusätzlich erweitert um ein Handübersteuermodul und um eine Zwangsübersteuerung.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xAB</em></th>
<th class="head"><strong>eManModeB</strong></th>
<th class="head"><em>xForce</em></th>
<th class="head"><strong>xForceOption</strong></th>
<th class="head"><em>xHB</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.ManOn</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Handbetrieb Ein</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.ManOff</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Handbetrieb Aus</td>
</tr>
<tr class="row-even"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>FALSE</td>
<td>FALSE</td>
<td>Zwangsübersteuerung Aus</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>TRUE</td>
<td>TRUE</td>
<td>Zwangsübersteuerung Ein</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="meldung-des-reparaturschalters-xmswitch">
<h3>Meldung des Reparaturschalters <em>xMSwitch</em><a class="headerlink" href="#meldung-des-reparaturschalters-xmswitch" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line"><em>xMSwitch</em> = TRUE:    Reparaturschalter wurde nicht ausgelöst ( Normalzustand )</div>
<div class="line"><em>xMSwitch</em> = FALSE:   Reparaturschalter wurde ausgelöst ( Fehlerzustand )</div>
</div>
</div>
<div class="section" id="zwangsubersteuerung-xforce">
<h3>Zwangsübersteuerung <em>xForce</em><a class="headerlink" href="#zwangsubersteuerung-xforce" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Zwangsübersteuerung wirkt direkt auf den Ausgang <em>xHB</em>. Mit dem Parameter <strong>xForceOption</strong> wird festgelegt, welchen Zustand der Ausgang <em>xHB</em> bei TRUE am Eingang <em>xForce</em> einnimmt.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="betriebsstunden-und-einschaltvorgange">
<h3>Betriebsstunden und Einschaltvorgänge<a class="headerlink" href="#betriebsstunden-und-einschaltvorgange" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Anzahl der Betriebsstunden und der Einschaltvorgänge werden erfasst ( = Zählprozess aktiv ), falls die Betriebsmeldung
des Ventilators <em>xFb</em> aktiv ist und gleichzeitig die Sammelstörmeldung <em>xAlarm</em> nicht aktiv ist ( = FALSE ).</div>
<div class="line">Die Ergebnisse stehen an den Zählerausgängen <strong>udiOperatingHours</strong> und <strong>udiCountFb</strong> zur Verfügung.</div>
</div>
<div class="topic">
<p class="topic-title first">Schreibzugriff auf die Zählerstände</p>
<div class="line-block">
<div class="line">Über den Pfad &#8216;Instanzname._OperatingHours.udiOperatingHours&#8217; bzw. &#8216;Instanzname._OperatingHours.udiCountFb&#8217; ist ein Schreibzugriff auf die beide Zählerstände möglich.</div>
</div>
</div>
</div>
<div class="section" id="datum-uhrzeit-des-letzten-betriebs-des-ventilators-dtlastfb">
<h3>Datum / Uhrzeit des letzten Betriebs des Ventilators <em>dtLastFb</em><a class="headerlink" href="#datum-uhrzeit-des-letzten-betriebs-des-ventilators-dtlastfb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Am Ausgang <em>dtLastFb</em> steht während des Zählprozesses das aktuelle Datum / die aktuelle Uhrzeit zur Verfügung.</div>
<div class="line">Am Ausgang <em>dtLastFb</em> steht ausserhalb des Zählprozesses das Datum / die Uhrzeit am Ende des letzten Zählprozesses zur Verfügung.</div>
<div class="line">Am Ausgang <em>dtLastFb</em> wird vor dem ersten Zählprozess der Initialisierungswert DT#1970-1-1-0.0.0 ausgegeben.</div>
</div>
</div>
<div class="section" id="betriebsuberwachung">
<h3>Betriebsüberwachung<a class="headerlink" href="#betriebsuberwachung" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Betriebsüberwachung kann durch den Sollwert / Parameter <strong>xFbControl</strong> freigegeben ( = TRUE ) oder gesperrt ( = FALSE ) werden.</div>
<div class="line"><br /></div>
<div class="line">Bei gesperrter Überwachung wird die Störmeldung der Betriebsüberwachung <em>xAlarmFb</em> immer gesperrt ( = FALSE ).</div>
<div class="line">Bei freigegebener Überwachung wird die Störmeldung der Betriebsüberwachung <em>xAlarmFb</em> aktiviert ( = TRUE ), falls
gleichzeitig während einer Mindestzeitdauer <strong>udiFbControlTime</strong> folgende Zustände gegeben sind:</div>
<div class="line"><br /></div>
<div class="line"><em>xHB</em> und <em>xFb</em>        = ungleich ( Freigabezustand und Betriebszustand stimmen nicht überein )</div>
<div class="line"><em>eAOO</em>                 = HVACTYPES.eManBin.Auto ( Handübersteuerung - Hardware in Automatik )</div>
<div class="line"><em>xFbControl</em>           = TRUE  ( Betriebsüberwachung ist freigegeben )</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung der Betriebsüberwachung <em>xAlarmFb</em> wird zurück gesetzt ( = FALSE ), falls mindestens eine der nachfolgenden
Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line"><em>eAOO</em>            = HVACTYPES.eManBin.Auto ( Rückschaltung in den Automatikbetrieb der Handübersteuerung - Hardware )</div>
<div class="line"><em>xQuit</em>               = TRUE  ( Rücksetzung der Störmeldungen ist aktiv )</div>
<div class="line"><em>xFbControl</em>      = FALSE ( Betriebsüberwachung gesperrt )</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="luftmangeluberwachung">
<h3>Luftmangelüberwachung<a class="headerlink" href="#luftmangeluberwachung" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Sie dient zur Erkennung einer Luftmangelsituation durch die Auswertung der Signale an den Eingängen Meldung der Luftmangelsituation <em>xPFb</em> und der Betriebsmeldung des Ventilators <em>xFb</em>.</div>
<div class="line">Die Luftmangelüberwachung kann durch den Sollwert / Parameter <strong>xPFbControl</strong> freigegeben ( = TRUE ) oder gesperrt ( = FALSE ) werden. Im gesperrten Zustand wird der
Ausgang - Störmeldung <em>xAlarmPFb</em> nicht aktiviert ( = FALSE ).</div>
<div class="line"><br /></div>
<div class="line">Der Ausgang - Störmeldung <em>xAlarmPFb</em> wird aktiviert ( <em>xAlarmPFb</em> = TRUE ), falls die unten stehenden Bedingungen 1 und 2 gleichzeitig erfüllt sind.</div>
<div class="line"><br /></div>
<div class="line">Bedingung 1:  Der Eingang für den Differenzdruckschalter <em>xPFb</em> befindet sich mindestens während der Wartezeit <em>udiPFbControlTime</em> permanent im Zustand FALSE ( = Luftmangelsituation ).</div>
<div class="line"><br /></div>
<div class="line">Bedingung 2:  Die Betriebsmeldung für den Ventilator <em>xFb</em> befindet sich mindestens während der Wartezeit <em>udiPFControlTime</em> permanent im Zustand TRUE ( = Ventilator in Betrieb ).</div>
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line">Der Ausgang - Störmeldung <em>xAlarmPFb</em> wird in folgenden Fällen deaktiviert ( <em>xAlarmPFb</em> = FALSE ):</div>
<div class="line"><br /></div>
<div class="line">Fall 1:       Die Bedingungen 1 und / oder 2 sind nicht erfüllt und die Rücksetzung der Störmeldung <em>xQuit</em> ist aktiv ( = TRUE ).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="sammelstormeldung-xalarm">
<h3>Sammelstörmeldung <em>xAlarm</em><a class="headerlink" href="#sammelstormeldung-xalarm" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelstörmeldung wird aktiviert ( = TRUE ), falls mindestens eine der nachfolgend beschriebenen Bedingungen erfüllt ist.</div>
<div class="line"><br /></div>
<div class="line"><em>xAlarmIn</em>        = TRUE  ( Störmeldung des Ventilators ist aktiv )</div>
<div class="line"><em>xAlarmFB</em>        = TRUE  ( Fehler aus der Betriebüberwachung )</div>
<div class="line"><em>xAlarmPFb</em>        = TRUE     ( Fehler aus der Luftmangelüberwachung )</div>
<div class="line"><em>xMSwitch</em>            = FALSE ( Reparaturschalter wurde ausgelöst )</div>
<div class="line"><br /></div>
<div class="line">In allen übrigen Fällen ist die Sammelstörung nicht aktiv ( = FALSE ).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="sammelmeldung-automatikbetrieb-xauto">
<h3>Sammelmeldung Automatikbetrieb <em>xAuto</em><a class="headerlink" href="#sammelmeldung-automatikbetrieb-xauto" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelmeldung Automatikbetrieb <em>xAuto</em> wird aktiviert ( = TRUE ), falls der Eingang <em>eAOO</em> den Wert HVACTYPES.eManBin.Auto und der Sollwert / Parameter <strong>eManModeB</strong>
den Wert eMANBIN.Auto enthält.</div>
<div class="line">In alle übrigen Fällen ist die Sammelmeldung Automatikbetrieb <em>xAuto</em> nicht aktiviert ( = FALSE ).</div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualisierung<a class="headerlink" href="#visualisierung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Link zu dieser Überschrift">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="6%" />
<col width="15%" />
<col width="10%" />
<col width="19%" />
<col width="49%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="8">Input</td>
<td>xEn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Anforderung des Ventilators</td>
</tr>
<tr class="row-odd"><td>xForce</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Zwangsübersteuerung nach Handübersteuerung</td>
</tr>
<tr class="row-even"><td>xFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Betriebsmeldung des Ventilators</td>
</tr>
<tr class="row-odd"><td>xPFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Meldung der Luftmangelsituation</td>
</tr>
<tr class="row-even"><td>xMSwitch</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Meldung des Reparaturschalters</td>
</tr>
<tr class="row-odd"><td>xAlarmIn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störmeldung des Ventilators</td>
</tr>
<tr class="row-even"><td>eAOO</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>HVACTYPES.eManBin.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware</td>
</tr>
<tr class="row-odd"><td>xQuit</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Rücksetzung der Störmeldungen ( Betriebsüberwachung,
Luftmangelüberwachung )</td>
</tr>
<tr class="row-even"><td rowspan="9">Output</td>
<td>xHB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator nach Handübersteuerung</td>
</tr>
<tr class="row-odd"><td>xAB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator vor Handübersteuerung</td>
</tr>
<tr class="row-even"><td>xAlarmFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störmeldung der Betriebsüberwachung</td>
</tr>
<tr class="row-odd"><td>xAlarmPFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störmeldung der Luftmangelüberwachung</td>
</tr>
<tr class="row-even"><td>dtLastFb</td>
<td>DT</td>
<td>&nbsp;</td>
<td>Datum / Uhrzeit des letzten Betriebs des Ventilators</td>
</tr>
<tr class="row-odd"><td>udiOperatingHours</td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>Betriebsstunden der Umwälzpumpe</td>
</tr>
<tr class="row-even"><td>udiCountFb</td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>Anzahl der Einschaltungen des Ventilators</td>
</tr>
<tr class="row-odd"><td>xAlarm</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelstörung</td>
</tr>
<tr class="row-even"><td>xAuto</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelmeldung Automatikbetrieb</td>
</tr>
<tr class="row-odd"><td rowspan="7">Input</td>
<td>udiPFbControlTime</td>
<td>UDINT</td>
<td>60</td>
<td>Meldeverzögerung der Luftmangelüberwachung</td>
</tr>
<tr class="row-even"><td>xPFbControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Freigabe der Luftmangelüberwachung</td>
</tr>
<tr class="row-odd"><td>xAlarmControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Einfluss von <em>xAlarm</em> auf <em>xAB</em></td>
</tr>
<tr class="row-even"><td>udiFbControlTime</td>
<td>UDINT</td>
<td>60</td>
<td>Meldeverzögerung der Betriebsüberwachung</td>
</tr>
<tr class="row-odd"><td>xFbControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Freigabe / Sperrung der Betriebsüberwachung</td>
</tr>
<tr class="row-even"><td>xForceOption</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Zustand vom Ausgang <em>xHB</em> bei Zwangsübersteuerung</td>
</tr>
<tr class="row-odd"><td>eManModeB</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang
<em>xHB</em></td>
</tr>
</tbody>
</table>
</dd>
</dl>
<div class="toctree-wrapper compound">
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>