

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="de" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>FanAnalog (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'de',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Stichwortverzeichnis" href="../../../../genindex.html" />
    <link rel="search" title="Suche" href="../../../../search.html" />
    <link href="../../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../index.html">Docs</a> &raquo;</li>
        
      <li>FanAnalog (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../../_sources/Libraries/HVAC-Library/HVAC-Functions/Components/FanAnalog.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-fananalog"></span><div class="section" id="fananalog-fb">
<span id="fananalog"></span><span id="index-0"></span><h1>FanAnalog (FB)<a class="headerlink" href="#fananalog-fb" title="Link zu dieser Überschrift">¶</a></h1>
<p>FUNCTION_BLOCK FanAnalog</p>
<div class="section" id="kurzbeschreibung">
<h2>Kurzbeschreibung<a class="headerlink" href="#kurzbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Steuerung eines drehzahlvariablen Ventilators</div>
<div class="line">Zusatzfunktionen: Handübersteuerungen, Reparaturschalter, Betriebsstundenzähler, Luftmangel</div>
<div class="line">Typische Anwendung: Ansteuerung eines Ventilators mit Frequenzumrichter</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Darstellung<a class="headerlink" href="#darstellung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><img alt="../../../../_images/FanAnalog_FB.png" src="../../../../_images/FanAnalog_FB.png" />
</div></blockquote>
</div>
<div class="section" id="schnittstellen">
<h2>Schnittstellen<a class="headerlink" href="#schnittstellen" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="eingange">
<h3>Eingänge<a class="headerlink" href="#eingange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id1">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xEn</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Anforderung des Ventilators ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td><em>rY</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal - Drehzahl 0.0 - 100.0 %</td>
</tr>
<tr class="row-even"><td><em>xForce</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Zwangssperrung des Ventilators nach Handübersteuerung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td><em>xFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Betriebsmeldung des Ventilators ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td><em>xPFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Rückmeldung der Luftmangelüberwachung ( FALSE = Luftmangel, TRUE = kein Luftmangel )</td>
</tr>
<tr class="row-odd"><td><em>xMSwitch</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Rückmeldung der Reparaturschalters ( FALSE = Schalter Aus, TRUE = Schalter Ein )</td>
</tr>
<tr class="row-even"><td><em>xAlarmIn</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störmeldung des Ventilators ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td><em>eAOO</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>HVACTYPES.eManBin.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware für die Freigabe</td>
</tr>
<tr class="row-even"><td><em>eAO</em></td>
<td>HVACTYPES.eManNum</td>
<td>HVACTYPES.eManNum.Auto, HVACTYPES.eManNum.Man</td>
<td>HVACTYPES.eManNum.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware für das Stellsignal</td>
</tr>
<tr class="row-odd"><td><em>rPoti</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Handwert - Handübersteuerung - Hardware für das Stellsignal</td>
</tr>
<tr class="row-even"><td><em>rU</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Rückführsignal vom Ventilator in %</td>
</tr>
<tr class="row-odd"><td><em>xQuit</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Rücksetzung der Störmeldungen ( Überwachungen ) ( FALSE = Aus, TRUE = Ein )</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="ausgange">
<h3>Ausgänge<a class="headerlink" href="#ausgange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id2">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xHB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator nach Handübersteuerung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td><em>xAB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator vor Handübersteuerung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td><em>rHA</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilator nach Handübersteuerung in %</td>
</tr>
<tr class="row-odd"><td><em>rAA</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilator vor Handübersteuerung in %</td>
</tr>
<tr class="row-even"><td><em>xAlarmFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störmeldung der Betriebsüberwachung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td><em>xAlarmPFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störmeldung der Luftmangelüberwachung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td><em>dtLastFb</em></td>
<td>DATE_AND_TIME</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Datum / Uhrzeit des letzten Betriebs des Ventilators</td>
</tr>
<tr class="row-odd"><td><em>udiOperatingHours</em></td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Betriebsstunden des Ventilators</td>
</tr>
<tr class="row-even"><td><em>udiCountFb</em></td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Anzahl der Einschaltungen des Ventilators</td>
</tr>
<tr class="row-odd"><td><em>xAlarm</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelstörmeldung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td><em>xAuto</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelmeldung - Automatikbetrieb ( FALSE = kein Automatikbetrieb, TRUE = Automatikbetrieb )</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="sollwerte-parameter">
<h3>Sollwerte / Parameter<a class="headerlink" href="#sollwerte-parameter" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id3">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><strong>udiPFbControlTime</strong></td>
<td>UDINT</td>
<td>0 ... 3600s</td>
<td>60s</td>
<td>Meldeverzögerung der Luftmangelüberwachung in s</td>
</tr>
<tr class="row-odd"><td><strong>xPFbControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Freigabe / Sperrung der Luftmangelüberwachung ( FALSE = Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-even"><td><strong>xAlarmControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Einfluss von <em>xAlarm</em> auf <em>xAB</em> ( FALSE = kein Einfluss, TRUE = Sperrung )</td>
</tr>
<tr class="row-odd"><td><strong>udiFbControlTime</strong></td>
<td>UDINT</td>
<td>0 ... 300s</td>
<td>60s</td>
<td>Meldeverzögerung der Betriebsüberwachung in s</td>
</tr>
<tr class="row-even"><td><strong>xFbControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Freigabe / Sperrung der Betriebsüberwachung ( FALSE = Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-odd"><td><strong>eManValue</strong></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal im Handbetrieb in %</td>
</tr>
<tr class="row-even"><td><strong>eManModeN</strong></td>
<td>eManNum</td>
<td>eManNum.Auto, eManNum.man</td>
<td>eManNum.Auto</td>
<td>Betriebsart der Handübersteuerung für das Stellsignal <em>rHA</em></td>
</tr>
<tr class="row-odd"><td><strong>eManModeB</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.ManOff, eMANBIN.ManOn</td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang <em>xHB</em></td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Funktionsbeschreibung<a class="headerlink" href="#funktionsbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="allgemeines">
<h3>Allgemeines<a class="headerlink" href="#allgemeines" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Dieser Funktionsbaustein steuert einen drehzahlvariablen Ventilator mittels eines stetigen Stellsignals <em>rHA</em>, der
im Automatikbetrieb ( <strong>eManModeN</strong> = eManNum.Auto ) unverändert vom Eingang <em>rY</em> übernommen wird.</div>
<div class="line">Die generelle Freigabe des Ventilators erfolgt über die Anforderung <em>xEn</em> und das Freigabesignal <em>xHB</em>.</div>
<div class="line">Es kommen im Wesentlichen folgende Funktionsbausteine zur Anwendung:</div>
</div>
<p><a class="reference internal" href="../Binary/ManBin.html#manbin"><span class="std std-ref">ManBin</span></a></p>
<p><a class="reference internal" href="../Numeric/ManNum.html#mannum"><span class="std std-ref">ManNum</span></a></p>
<p><a class="reference internal" href="../Monitoring/AirShortage.html#airshortage"><span class="std std-ref">AirShortage</span></a></p>
<p><a class="reference internal" href="../General/CTime.html#ctime"><span class="std std-ref">CTime</span></a></p>
<p><a class="reference internal" href="../Counter/OperatingHours.html#operatinghours"><span class="std std-ref">OperatingHours</span></a></p>
</div>
<div class="section" id="freigabe-ventilator-vor-handubersteuerung-xab">
<h3>Freigabe - Ventilator vor Handübersteuerung <em>xAB</em><a class="headerlink" href="#freigabe-ventilator-vor-handubersteuerung-xab" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilator vor Handübersteuerung <em>xAB</em> wird aktiviert ( = TRUE ), falls gleichzeitig folgende Bedingungen erfüllt sind:</div>
<div class="line"><br /></div>
<div class="line">Fall 1:</div>
<div class="line"><br /></div>
<div class="line"><em>xEn</em> = TRUE</div>
<div class="line"><em>xMSwitch</em> = TRUE</div>
<div class="line"><strong>xAlarmControl</strong> = FALSE</div>
<div class="line"><br /></div>
<div class="line">Fall 2:</div>
<div class="line"><br /></div>
<div class="line"><em>xEn</em> = TRUE</div>
<div class="line"><em>xMSwitch</em> = TRUE</div>
<div class="line"><strong>xAlarmControl</strong> = TRUE</div>
<div class="line"><em>xAlarm</em> = FALSE</div>
<div class="line"><br /></div>
<div class="line">In allen übrigen Situationen ist die Freigabe - Ventilator vor Handübersteuerung <em>xAB</em> nicht aktiviert ( = FALSE ).</div>
</div>
</div>
<div class="section" id="freigabe-ventilator-nach-handubersteuerung-xhb">
<h3>Freigabe - Ventilator nach Handübersteuerung <em>xHB</em><a class="headerlink" href="#freigabe-ventilator-nach-handubersteuerung-xhb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilator nach Handübersteuerung <em>xHB</em> entspricht der Freigabe - Ventilator vor Handübersteuerung <em>xAB</em>,
zusätzlich erweitert um ein Handübersteuermodul.</div>
<div class="line">Die Freigabe kann generell nur dann erfolgen, falls die Zwangssperrung des Ventilators nach Handübersteuerung nicht aktiv ( <em>xForce</em> = FALSE )</div>
<div class="line">und die Sammelstörmeldung nicht aktiv sind ( <em>xAlarm</em> = FALSE ).</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="17%" />
<col width="17%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xAB</em></th>
<th class="head"><strong>eManModeB</strong></th>
<th class="head"><em>xHB</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>TRUE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.ManOn</td>
<td>TRUE</td>
<td>Handübersteuermodul in Handbetrieb Ein</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.ManOff</td>
<td>FALSE</td>
<td>Handübersteuermodul in Handbetrieb Aus</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="meldung-des-reparaturschalters-xmswitch">
<h3>Meldung des Reparaturschalters <em>xMSwitch</em><a class="headerlink" href="#meldung-des-reparaturschalters-xmswitch" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line"><em>xMSwitch</em> = TRUE:     Reparaturschalter wurde nicht ausgelöst ( Normalzustand )</div>
<div class="line"><em>xMSwitch</em> = FALSE:    Reparaturschalter wurde ausgelöst ( Fehlerzustand )</div>
</div>
</div>
<div class="section" id="zwangssperrung-des-ventilators-nach-handubersteuerung-xforce">
<h3>Zwangssperrung des Ventilators nach Handübersteuerung <em>xForce</em><a class="headerlink" href="#zwangssperrung-des-ventilators-nach-handubersteuerung-xforce" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line"><em>xForce</em> = FALSE:     keine Zwangssperrung ( Normalzustand )</div>
<div class="line"><em>xForce</em> = TRUE:  Zwangssperrung ( Ausnahmezustand )</div>
</div>
</div>
<div class="section" id="betriebsstunden-und-einschaltvorgange">
<h3>Betriebsstunden und Einschaltvorgänge<a class="headerlink" href="#betriebsstunden-und-einschaltvorgange" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Anzahl der Betriebsstunden und der Einschaltvorgänge werden erfasst ( = Zählprozess aktiv ), falls die Betriebsmeldung
des Ventilators <em>xFb</em> aktiv ist und gleichzeitig die Sammelstörmeldung <em>xAlarm</em> nicht aktiv ist ( = FALSE ).</div>
<div class="line">Die Ergebnisse stehen an den Zählerausgängen <strong>udiOperatingHours</strong> und <strong>udiCountFb</strong> zur Verfügung.</div>
</div>
<div class="topic">
<p class="topic-title first">Schreibzugriff auf die Zählerstände</p>
<div class="line-block">
<div class="line">Über den Pfad &#8216;Instanzname._OperatingHours.udiOperatingHours&#8217; bzw. &#8216;Instanzname._OperatingHours.udiCountFb&#8217; ist ein Schreibzugriff auf die beide Zählerstände möglich.</div>
</div>
</div>
<div class="topic">
<p class="topic-title first">Voraussetzung für den Einsatz des Funktionsbausteins FanAnalog</p>
<div class="line-block">
<div class="line">Zur korrekten Funktion ist der Einsatz des Funktionsbausteins TimeRead mit <em>xEn</em> = TRUE erforderlich.</div>
</div>
</div>
</div>
<div class="section" id="datum-uhrzeit-des-letzten-betriebs-des-ventilators-dtlastfb">
<h3>Datum / Uhrzeit des letzten Betriebs des Ventilators <em>dtLastFb</em><a class="headerlink" href="#datum-uhrzeit-des-letzten-betriebs-des-ventilators-dtlastfb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Am Ausgang <em>dtLastFb</em> steht während des Zählprozesses das aktuelle Datum / die aktuelle Uhrzeit zur Verfügung.</div>
<div class="line">Am Ausgang <em>dtLastFb</em> steht ausserhalb des Zählprozesses das Datum / die Uhrzeit am Ende des letzten Zählprozesses zur Verfügung.</div>
<div class="line">Am Ausgang <em>dtLastFb</em> wird vor dem ersten Zählprozess der Initialisierungswert DT#1970-1-1-0.0.0 ausgegeben.</div>
</div>
</div>
<div class="section" id="betriebsuberwachung">
<h3>Betriebsüberwachung<a class="headerlink" href="#betriebsuberwachung" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Betriebsüberwachung kann durch den Sollwert / Parameter <strong>xFbControl</strong> freigegeben ( = TRUE ) oder gesperrt ( = FALSE ) werden.</div>
<div class="line"><br /></div>
<div class="line">Bei gesperrter Überwachung wird die Störmeldung der Betriebsüberwachung <em>xAlarmFb</em> immer gesperrt ( = FALSE ).</div>
<div class="line">Bei freigegebener Überwachung wird die Störmeldung der Betriebsüberwachung <em>xAlarmFb</em> aktiviert ( = TRUE ), falls
gleichzeitig während einer Mindestzeitdauer <strong>udiFbControlTime</strong> folgende Zustände gegeben sind:</div>
<div class="line"><br /></div>
<div class="line"><em>xHB</em> und <em>xFb</em>        = ungleich ( Freigabezustand und Betriebszustand stimmen nicht überein )</div>
<div class="line"><em>eAOO</em>                 = HVACTYPES.eManBin.Auto ( Handübersteuerung - Hardware für die Freigabe in Automatik )</div>
<div class="line"><strong>xFbControl</strong>         = TRUE ( Betriebsüberwachung ist freigegeben )</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung der Betriebsüberwachung <em>xAlarmFb</em> wird zurück gesetzt ( = FALSE ), falls mindestens eine der nachfolgenden
Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line"><em>eAOO</em>                 = HVACTYPES.eManBin.Auto ( Rückschaltung in den Automatikbetrieb der Handübersteuerung - Hardware )</div>
<div class="line"><em>xQuit</em>                = TRUE  ( Rücksetzung der Überwachungen ist aktiv )</div>
<div class="line"><strong>xFbControl</strong>         = FALSE ( Betriebsüberwachung gesperrt )</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="luftmangeluberwachung">
<h3>Luftmangelüberwachung<a class="headerlink" href="#luftmangeluberwachung" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Luftmangelüberwachung erfolgt durch die Auswertung der Zustände an den Eingängen <em>xPFb</em> bzw. <em>xFb</em>.</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung der Luftmangelüberwachung <em>xAlarmPFb</em> wird aktiviert ( = TRUE ), falls bei freigegebener Überwachung ( <strong>xPFbControl</strong> = TRUE )
während der Meldeverzögerung der Luftmangelüberwachung <strong>udiPFbControlTime</strong> permanent der Eingang <em>xPFb</em> nicht aktiv ( = FALSE ) und der</div>
<div class="line">Eingang <em>xFb</em> aktiv ( = TRUE ) sind.</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung der Luftmangelüberwachung <em>xAlarmPFb</em> wird deaktiviert ( = FALSE ), falls die Bedingungen zur Aktivierung nicht mehr gegeben sind
und gleichzeitig die Überwachung gesperrt ist ( <strong>xPFbControl</strong> = FALSE ) und / oder die Rücksetzung der Störmeldungen ( Überwachungen ) aktiv ist ( <em>xQuit</em> = TRUE ).</div>
</div>
</div>
<div class="section" id="sammelstormeldung-xalarm">
<h3>Sammelstörmeldung <em>xAlarm</em><a class="headerlink" href="#sammelstormeldung-xalarm" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelstörmeldung wird aktiviert ( = TRUE ), falls mindestens eine der nachfolgend beschriebenen Bedingungen erfüllt ist.</div>
<div class="line"><br /></div>
<div class="line"><em>xAlarmIn</em>        = TRUE  ( Störmeldung des Ventilators ist aktiv )</div>
<div class="line"><em>xAlarmFB</em>        = TRUE  ( Fehler aus der Betriebüberwachung )</div>
<div class="line"><em>xAlarmPFB</em>       = TRUE  ( Fehler aus der Luftmangelüberwachung )</div>
<div class="line"><em>xMSwitch</em>        = FALSE ( Reparaturschalter in Stellung Aus )</div>
<div class="line"><br /></div>
<div class="line">In allen übrigen Fällen ist die Sammelstörung nicht aktiv ( = FALSE ).</div>
</div>
</div>
<div class="section" id="stellsignal-ventilator-vor-handubersteuerung-raa">
<h3>Stellsignal Ventilator vor Handübersteuerung <em>rAA</em><a class="headerlink" href="#stellsignal-ventilator-vor-handubersteuerung-raa" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Das Stellsignal des Ventilators vor Handübersteuerung <em>rAA</em> wird unverändert vom Eingang Stellsignal - Drehzahl <em>rY</em> übernommen, falls
entweder der Ausgang <em>xHB</em> und / oder der Eingang <em>xFb</em> aktiv sind.</div>
<div class="line">In allen übrigen Situationen wird das Stellsignal <em>rAA</em> auf den Wert 0.0 % fixiert.</div>
</div>
</div>
<div class="section" id="stellsignal-ventilator-nach-handubersteuerung-rha">
<h3>Stellsignal Ventilator nach Handübersteuerung <em>rHA</em><a class="headerlink" href="#stellsignal-ventilator-nach-handubersteuerung-rha" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Das Stellsignal des Klappenantriebs nach Handübersteuerung <em>rHA</em> entspricht dem Stellsignal des Ventilators vor Handübersteuerung <em>rAA</em>
zusätzlich erweitert um ein Handübersteuermodul.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-2">
<colgroup>
<col width="17%" />
<col width="17%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>rAA</em></th>
<th class="head"><strong>eManModeN</strong></th>
<th class="head"><em>rHA</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>X</td>
<td>eMANNUM.Auto</td>
<td><em>rAA</em></td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANNUM.Man</td>
<td><strong>eManValue</strong></td>
<td>Handübersteuermodul in Handbetrieb</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="sammelmeldung-automatikbetrieb-xauto">
<h3>Sammelmeldung Automatikbetrieb <em>xAuto</em><a class="headerlink" href="#sammelmeldung-automatikbetrieb-xauto" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelmeldung Automatikbetrieb <em>xAuto</em> wird aktiviert ( = TRUE ), falls folgende Bedingungen gleichzeitig erfüllt sind:</div>
<div class="line"><br /></div>
<div class="line">- Eingang <em>eAOO</em> = HVACTYPES.eManBin.Auto</div>
<div class="line">- Eingang <em>eAO</em> = HVACTYPES.eManNum.Auto</div>
<div class="line">- Sollwert / Parameter <strong>eManModeB</strong> = eMANBIN.Auto</div>
<div class="line">- Sollwert / Parameter <strong>eManModeN</strong> = eMANNUM.Auto</div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualisierung<a class="headerlink" href="#visualisierung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Link zu dieser Überschrift">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="6%" />
<col width="15%" />
<col width="10%" />
<col width="19%" />
<col width="49%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="12">Input</td>
<td>xEn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Anforderung des Ventilators ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td>rY</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Stellsignal - Drehzahl 0.0 - 100.0 %</td>
</tr>
<tr class="row-even"><td>xForce</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Zwangssperrung des Ventilators nach Handübersteuerung (
FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td>xFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Betriebsmeldung des Ventilators ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td>xPFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Rückmeldung der Luftmangelüberwachung ( FALSE = Luftmangel,
TRUE = kein Luftmangel )</td>
</tr>
<tr class="row-odd"><td>xMSwitch</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Rückmeldung der Reparaturschalters ( FALSE = Schalter Aus,
TRUE = Schalter Ein )</td>
</tr>
<tr class="row-even"><td>xAlarmIn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störmeldung des Ventilators ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td>eAOO</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>HVACTYPES.eManBin.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware für die
Freigabe</td>
</tr>
<tr class="row-even"><td>eAO</td>
<td><a class="reference internal" href="../../Enums/eManNum.html#emannum"><span class="std std-ref">eManNum</span></a></td>
<td>HVACTYPES.eManNum.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware für das
Stellsignal</td>
</tr>
<tr class="row-odd"><td>rPoti</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Handwert - Handübersteuerung - Hardware für das Stellsignal</td>
</tr>
<tr class="row-even"><td>rU</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Rückführsignal vom Ventilator in %</td>
</tr>
<tr class="row-odd"><td>xQuit</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Rücksetzung der Störmeldungen ( Überwachungen ) ( FALSE =
Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td rowspan="11">Output</td>
<td>xHB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator nach Handübersteuerung ( FALSE = Aus,
TRUE = Ein )</td>
</tr>
<tr class="row-odd"><td>xAB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilator vor Handübersteuerung ( FALSE = Aus,
TRUE = Ein )</td>
</tr>
<tr class="row-even"><td>rHA</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilator nach Handübersteuerung in %</td>
</tr>
<tr class="row-odd"><td>rAA</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilator vor Handübersteuerung in %</td>
</tr>
<tr class="row-even"><td>xAlarmFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störmeldung der Betriebsüberwachung ( FALSE = Aus, TRUE =
Ein )</td>
</tr>
<tr class="row-odd"><td>xAlarmPFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störmeldung der Luftmangelüberwachung ( FALSE = Aus, TRUE =
Ein )</td>
</tr>
<tr class="row-even"><td>dtLastFb</td>
<td>DT</td>
<td>&nbsp;</td>
<td>Datum / Uhrzeit des letzten Betriebs des Ventilators</td>
</tr>
<tr class="row-odd"><td>udiOperatingHours</td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>Betriebsstunden des Ventilators</td>
</tr>
<tr class="row-even"><td>udiCountFb</td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>Anzahl der Einschaltungen des Ventilators</td>
</tr>
<tr class="row-odd"><td>xAlarm</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelstörmeldung ( FALSE = Aus, TRUE = Ein )</td>
</tr>
<tr class="row-even"><td>xAuto</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelmeldung - Automatikbetrieb ( FALSE = kein
Automatikbetrieb, TRUE = Automatikbetrieb )</td>
</tr>
<tr class="row-odd"><td rowspan="8">Input</td>
<td>udiPFbControlTime</td>
<td>UDINT</td>
<td>60</td>
<td>Meldeverzögerung der Luftmangelüberwachung in s</td>
</tr>
<tr class="row-even"><td>xPFbControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Freigabe / Sperrung der Luftmangelüberwachung ( FALSE =
Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-odd"><td>xAlarmControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Einfluss von <em>xAlarm</em> auf <em>xAB</em> ( FALSE = kein Einfluss,
TRUE = Sperrung )</td>
</tr>
<tr class="row-even"><td>udiFbControlTime</td>
<td>UDINT</td>
<td>60</td>
<td>Meldeverzögerung der Betriebsüberwachung in s</td>
</tr>
<tr class="row-odd"><td>xFbControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Freigabe / Sperrung der Betriebsüberwachung ( FALSE =
Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-even"><td>eManValue</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Stellsignal im Handbetrieb in %</td>
</tr>
<tr class="row-odd"><td>eManModeN</td>
<td><a class="reference internal" href="../../Enums/eManNum.html#emannum"><span class="std std-ref">eMANNUM</span></a></td>
<td>eMANNUM.Auto</td>
<td>Betriebsart der Handübersteuerung für das Stellsignal <em>rHA</em></td>
</tr>
<tr class="row-even"><td>eManModeB</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang
<em>xHB</em></td>
</tr>
</tbody>
</table>
</dd>
</dl>
<div class="toctree-wrapper compound">
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>