

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>FanAnalog (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'en',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="FanAnalog.mQuit (METH)" href="pou-FanAnalog/mQuit.html" />
    <link rel="prev" title="Fan1Speed.mResetOperatingHours (METH)" href="pou-Fan1Speed/mResetOperatingHours.html" />
    <link href="../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../fld-HVAC-Functions.html">HVAC Functions</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../Alarming/fld-Alarming.html">Alarming</a></li>
<li class="toctree-l3"><a class="reference internal" href="../AutomationPortalConnector.html">AutomationPortalConnector (FB)</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Binary/fld-Binary.html">Binary</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Button/fld-Button.html">Button</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Clock/fld-Clock.html">Clock</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="fld-Components.html">Components</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="Burner3P.html">Burner3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerP.html">BurnerP (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerT.html">BurnerT (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="CoolOutProtection.html">CoolOutProtection (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Damper2P.html">Damper2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DamperAnalog.html">DamperAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DuoPump.html">DuoPump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Fan1Speed.html">Fan1Speed (FB)</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">FanAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanControl.html">FanControl (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FastHeating.html">FastHeating (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FireDamperMot.html">FireDamperMot (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="OptStartHeat.html">OptStartHeat (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="PreRinseOperationValveAnalog.html">PreRinseOperationValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Pump.html">Pump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SequenceSUPTemp.html">SequenceSUPTemp (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Shade.html">Shade (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SmokeDetector.html">SmokeDetector (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve2P.html">Valve2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve3P.html">Valve3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveAnalog.html">ValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveTherm.html">ValveTherm (FB)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../Control/fld-Control.html">Control</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Counter/fld-Counter.html">Counter</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Damping/fld-Damping.html">Damping</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Energy/fld-Energy.html">Energy</a></li>
<li class="toctree-l3"><a class="reference internal" href="../General/fld-General.html">General</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Monitoring/fld-Monitoring.html">Monitoring</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Numeric/fld-Numeric.html">Numeric</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Setpoint/fld-Setpoint.html">Setpoint</a></li>
<li class="toctree-l3"><a class="reference internal" href="../System-Info/fld-System-Info.html">System Info</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Time/fld-Time.html">Time</a></li>
<li class="toctree-l3"><a class="reference internal" href="../checkLicense.html">checkLicense (FB)</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../Functions/fld-Functions.html">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../Enums/fld-Enums.html">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalConstants/fld-GlobalConstants.html">GlobalConstants</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalVariables/fld-GlobalVariables.html">GlobalVariables</a></li>
</ul>
</li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../../fld-HVAC-Library.html">HVAC Library</a> &raquo;</li>
        
          <li><a href="../fld-HVAC-Functions.html">HVAC Functions</a> &raquo;</li>
        
          <li><a href="fld-Components.html">Components</a> &raquo;</li>
        
      <li>FanAnalog (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../_sources/HVAC-Library/HVAC-Functions/Components/FanAnalog.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-fananalog"></span><div class="section" id="fananalog-fb">
<span id="fananalog"></span><span id="index-0"></span><h1>FanAnalog (FB)<a class="headerlink" href="#fananalog-fb" title="Permalink to this headline">¶</a></h1>
<p>FUNCTION_BLOCK FanAnalog</p>
<div class="section" id="kurzbeschreibung">
<h2>Short Description<a class="headerlink" href="#kurzbeschreibung" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Control of a variable speed fan</div>
<div class="line">Additional functions: Manual override, repair switch, operating hours counter, air shortage</div>
<div class="line">Typical application: Control of a fan with frequency converter</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Portrayal<a class="headerlink" href="#darstellung" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><img alt="../../../_images/FanAnalog_FB.png" src="../../../_images/FanAnalog_FB.png" />
</div></blockquote>
</div>
<div class="section" id="schnittstellen">
<h2>Interfaces<a class="headerlink" href="#schnittstellen" title="Permalink to this headline">¶</a></h2>
<div class="section" id="eingange">
<h3>Inputs<a class="headerlink" href="#eingange" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id1">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><p class="first last">Datatype</p>
</th>
<th class="head"><p class="first last">Range</p>
</th>
<th class="head"><p class="first last">Init-Value</p>
</th>
<th class="head"><p class="first last">Functional Description</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xEn</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Fan request ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td><em>rY</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal - Speed 0.0 - 100.0 %</p>
</td>
</tr>
<tr class="row-even"><td><em>xForce</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td><p class="first last">Forced shutdown of the fan after manual override ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td><em>xFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Operating message of the fan ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td><em>xPFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback of the low air pressure monitoring ( FALSE = low air pressure, TRUE = no low air pressure )</p>
</td>
</tr>
<tr class="row-odd"><td><em>xMSwitch</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td><p class="first last">Feedback of the repair switches ( FALSE = switch off, TRUE = switch on )</p>
</td>
</tr>
<tr class="row-even"><td><em>xAlarmIn</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Alarm message of the fan ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td><em>eAOO</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>HVACTYPES.eManBin.Auto</td>
<td><p class="first last">Operating mode of manual override - Hardware for enabling</p>
</td>
</tr>
<tr class="row-even"><td><em>eAO</em></td>
<td>HVACTYPES.eManNum</td>
<td>HVACTYPES.eManNum.Auto, HVACTYPES.eManNum.Man</td>
<td>HVACTYPES.eManNum.Auto</td>
<td><p class="first last">Operating mode of manual override - Hardware for the control signal</p>
</td>
</tr>
<tr class="row-odd"><td><em>rPoti</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Manual value - Manual override - Hardware for the control signal</p>
</td>
</tr>
<tr class="row-even"><td><em>rU</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback signal from the fan in %.</p>
</td>
</tr>
<tr class="row-odd"><td><em>xQuit</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td><p class="first last">Reset of the alarm messages ( monitoring ) ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="ausgange">
<h3>Outputs<a class="headerlink" href="#ausgange" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id2">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><p class="first last">Datatype</p>
</th>
<th class="head"><p class="first last">Range</p>
</th>
<th class="head"><p class="first last">Init-Value</p>
</th>
<th class="head"><p class="first last">Functional Description</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xHB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Enable - Fan after manual override ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td><em>xAB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Enable - Fan before manual override ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td><em>rHA</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal - Fan after manual override in %</p>
</td>
</tr>
<tr class="row-odd"><td><em>rAA</em></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal - Fan before manual override in %</p>
</td>
</tr>
<tr class="row-even"><td><em>xAlarmFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Alarm message for the operation monitoring ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td><em>xAlarmPFb</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Alarm message for low air pressure monitoring ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td><em>dtLastFb</em></td>
<td>DATE_AND_TIME</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Date / time of last fan operation</p>
</td>
</tr>
<tr class="row-odd"><td><em>udiOperatingHours</em></td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Operating hours of the fan</p>
</td>
</tr>
<tr class="row-even"><td><em>udiCountFb</em></td>
<td>UDINT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Number of starts of the ventilator</p>
</td>
</tr>
<tr class="row-odd"><td><em>xAlarm</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Collective fault message ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td><em>xAuto</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Collective message - automatic mode ( FALSE = no automatic mode, TRUE = automatic mode )</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="sollwerte-parameter">
<h3>Setpoints / Parameters<a class="headerlink" href="#sollwerte-parameter" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id3">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><p class="first last">Datatype</p>
</th>
<th class="head"><p class="first last">Range</p>
</th>
<th class="head"><p class="first last">Init-Value</p>
</th>
<th class="head"><p class="first last">Functional Description</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><strong>udiPFbControlTime</strong></td>
<td>UDINT</td>
<td>0 ... 3600s</td>
<td>60s</td>
<td><p class="first last">Signal delay of the low air pressure monitoring in s</p>
</td>
</tr>
<tr class="row-odd"><td><strong>xPFbControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td><p class="first last">Enable / disable low air pressure monitoring ( FALSE = disable, TRUE = enable )</p>
</td>
</tr>
<tr class="row-even"><td><strong>xAlarmControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td><p class="first last">Influence of <em>xAlarm</em> on <em>xAB</em> ( FALSE = no influence, TRUE = blocking )</p>
</td>
</tr>
<tr class="row-odd"><td><strong>udiFbControlTime</strong></td>
<td>UDINT</td>
<td>0 ... 300s</td>
<td>60s</td>
<td><p class="first last">Signal delay of operation monitoring in s</p>
</td>
</tr>
<tr class="row-even"><td><strong>xFbControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td><p class="first last">Enable / disable operation monitoring ( FALSE = Disable, TRUE = Enable )</p>
</td>
</tr>
<tr class="row-odd"><td><strong>eManValue</strong></td>
<td>REAL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal in manual operation in %</p>
</td>
</tr>
<tr class="row-even"><td><strong>eManModeN</strong></td>
<td>eManNum</td>
<td>eManNum.Auto, eManNum.man</td>
<td>eManNum.Auto</td>
<td><p class="first last">Operating mode of manual override for the control signal <em>rHA</em></p>
</td>
</tr>
<tr class="row-odd"><td><strong>eManModeB</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.ManOff, eMANBIN.ManOn</td>
<td>eMANBIN.Auto</td>
<td><p class="first last">Operating mode of manual override for the <em>xHB</em> digital output</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Functional Description<a class="headerlink" href="#funktionsbeschreibung" title="Permalink to this headline">¶</a></h2>
<div class="section" id="allgemeines">
<h3>General<a class="headerlink" href="#allgemeines" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">This function block controls a variable-speed fan via a continuous control signal <em>rHA</em>, which in automatic mode ( <strong>eManModeN</strong> = eManNum.Auto ) is taken over from input <em>rY</em>.</div>
<div class="line">The general release of the fan takes place via the request <em>xEn</em> and the release signal <em>xHB</em>.</div>
<div class="line">Essentially, the following function blocks are used:</div>
</div>
<p><a class="reference internal" href="../Binary/ManBin.html#manbin"><span class="std std-ref">ManBin</span></a></p>
<p><a class="reference internal" href="../Numeric/ManNum.html#mannum"><span class="std std-ref">ManNum</span></a></p>
<p><a class="reference internal" href="../Monitoring/AirShortage.html#airshortage"><span class="std std-ref">AirShortage</span></a></p>
<p><a class="reference internal" href="../General/CTime.html#ctime"><span class="std std-ref">CTime</span></a></p>
<p><a class="reference internal" href="../Counter/OperatingHours.html#operatinghours"><span class="std std-ref">OperatingHours</span></a></p>
</div>
<div class="section" id="freigabe-ventilator-vor-handubersteuerung-xab">
<h3>Enable - Fan before manual override <em>xAB</em><a class="headerlink" href="#freigabe-ventilator-vor-handubersteuerung-xab" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The release - fan before manual override <em>xAB</em> is activated ( = TRUE ) if the following conditions are fulfilled at the same time:</div>
<div class="line"><br /></div>
<div class="line">Case 1:</div>
<div class="line"><br /></div>
<div class="line"><em>xEn</em> = TRUE</div>
<div class="line"><em>xMSwitch</em> = TRUE</div>
<div class="line"><strong>xAlarmControl</strong> = FALSE</div>
<div class="line"><br /></div>
<div class="line">Case 2:</div>
<div class="line"><br /></div>
<div class="line"><em>xEn</em> = TRUE</div>
<div class="line"><em>xMSwitch</em> = TRUE</div>
<div class="line"><strong>xAlarmControl</strong> = TRUE</div>
<div class="line"><em>xAlarm</em> = FALSE</div>
<div class="line"><br /></div>
<div class="line">In all other situations the Release of the fan, before manual override <em>xAB</em>, is not activated ( = FALSE ).</div>
</div>
</div>
<div class="section" id="freigabe-ventilator-nach-handubersteuerung-xhb">
<h3>Enable - Fan after manual override <em>xHB</em><a class="headerlink" href="#freigabe-ventilator-nach-handubersteuerung-xhb" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The release - fan after manual override <em>xHB</em> corresponds to the release - fan before manual override <em>xAB</em>, additionally extended by a manual override module.</div>
<div class="line">The release can generally only take place if the forced locking of the fan is not active after manual override ( <em>xForce</em> = FALSE ).</div>
<div class="line">and the collective alarm signal is not active ( <em>xAlarm</em> = FALSE ).</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="17%" />
<col width="17%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xAB</em></th>
<th class="head"><strong>eManModeB</strong></th>
<th class="head"><em>xHB</em></th>
<th class="head"><p class="first last">Notes</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td><p class="first last">Manual override module in automatic mode</p>
</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>TRUE</td>
<td><p class="first last">Manual override module in automatic mode</p>
</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.ManOn</td>
<td>TRUE</td>
<td><p class="first last">Manual override module in manual mode On</p>
</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.ManOff</td>
<td>FALSE</td>
<td><p class="first last">Manual override module in manual mode Off</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legend: X = any</div>
</div>
</div>
<div class="section" id="meldung-des-reparaturschalters-xmswitch">
<h3>Repair switch message <em>xMSwitch</em><a class="headerlink" href="#meldung-des-reparaturschalters-xmswitch" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line"><em>xMSwitch</em> = TRUE:     Repair switch was not triggered ( normal state )</div>
<div class="line"><em>xMSwitch</em> = FALSE:    Repair switch was triggered ( error condition)</div>
</div>
</div>
<div class="section" id="zwangssperrung-des-ventilators-nach-handubersteuerung-xforce">
<h3>Forced shut-off of the fan after manual override <em>xForce</em><a class="headerlink" href="#zwangssperrung-des-ventilators-nach-handubersteuerung-xforce" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line"><em>xForce</em> = FALSE:     no foced locking ( normal state )</div>
<div class="line"><em>xForce</em> = TRUE:  forced locking ( state of emergency )</div>
</div>
</div>
<div class="section" id="betriebsstunden-und-einschaltvorgange">
<h3>Operating hours and switch-on procedures<a class="headerlink" href="#betriebsstunden-und-einschaltvorgange" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The number of operating hours and the number of switch-on processes are recorded ( = counting process active ) if the fan operating message <em>xFb</em> is active and the collective alarm message <em>xAlarm</em> is not active ( = FALSE ) at the same time.</div>
<div class="line">The results are available at the counter outputs <strong>udiOperatingHours</strong> and <strong>udiCountFb</strong>.</div>
</div>
<div class="topic">
<p class="topic-title first">Write access to the counter readings</p>
<div class="line-block">
<div class="line">Via the path &#8216;Instancename._OperatingHours.udiOperatingHours&#8217; or &#8216;Instancename._OperatingHours.udiCountFb&#8217; a write access to both counter readings is possible.</div>
</div>
</div>
<div class="topic">
<p class="topic-title first">Prerequisite for using the FanAnalog function block</p>
<div class="line-block">
<div class="line">For correct function, the use of the function block TimeRead with <em>xEn</em> = TRUE is mandatory.</div>
</div>
</div>
</div>
<div class="section" id="datum-uhrzeit-des-letzten-betriebs-des-ventilators-dtlastfb">
<h3>Date / time of the last operation of the fan <em>dtLastFb</em><a class="headerlink" href="#datum-uhrzeit-des-letzten-betriebs-des-ventilators-dtlastfb" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The output <em>dtLastFb</em> provides the current date/time during the counting process.</div>
<div class="line">At the output <em>dtLastFb</em>, the date/time at the end of the last counting process is available outside the counting process.</div>
<div class="line">The output <em>dtLastFb</em> outputs the initialization value DT#1970-1-1-1-0.0.0 before the first counting process.</div>
</div>
</div>
<div class="section" id="betriebsuberwachung">
<h3>Operation monitoring<a class="headerlink" href="#betriebsuberwachung" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">Operation monitoring can be enabled ( = TRUE ) or disabled ( = FALSE ) by the setpoint / parameter <strong>xFbControl</strong>.</div>
<div class="line"><br /></div>
<div class="line">If monitoring is disabled, the alarm message of the operational monitoring <em>xAlarmFb</em> is always disabled ( = FALSE ).</div>
<div class="line">When monitoring is enabled, the alarm message of the operational monitoring <em>xAlarmFb</em> is activated ( = TRUE ) if the following states are simultaneously present during a minimum duration <strong>udiFbControlTime</strong>:</div>
<div class="line"><br /></div>
<div class="line"><em>xHB</em> and <em>xFb</em> = unequal ( release state and operating state do not match )</div>
<div class="line"><em>eAOO</em>                 = HVACTYPES.eManBin.Auto ( Manual override - Hardware for enabling in automatic )</div>
<div class="line"><strong>xFbControl</strong>         = TRUE ( Operation monitoring is enabled )</div>
<div class="line"><br /></div>
<div class="line">The alarm message of the operation monitoring <em>xAlarmFb</em> is reset ( = FALSE ) if at least one of the following conditions is fulfilled:</div>
<div class="line"><br /></div>
<div class="line"><em>eAOO</em>                 = HVACTYPES.eManBin.Auto ( switch back to automatic mode of manual override - hardware )</div>
<div class="line"><em>xQuit</em>                = TRUE  ( reset of monitoring is active )</div>
<div class="line"><strong>xFbControl</strong>         = FALSE ( operation monitoring disabled )</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="luftmangeluberwachung">
<h3>low air pressure monitoring<a class="headerlink" href="#luftmangeluberwachung" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">Air shortage monitoring is performed by evaluating the states at the inputs <em>xPFb</em> or <em>xFb</em>.</div>
<div class="line"><br /></div>
<div class="line">The alarm message of the low air pressure monitoring <em>xAlarmPFb</em> is activated ( = TRUE ), if with enabled monitoring ( <strong>xPFbControl</strong> = TRUE ) during the message delay of the low air pressure monitoring <strong>udiPFbControlTime</strong> the input <em>xPFb</em> is permanently not active ( = FALSE ) and the input <em>xPFb</em> is not active ( = FALSE ).</div>
<div class="line">input <em>xFb</em> is active ( = TRUE ).</div>
<div class="line"><br /></div>
<div class="line">The alarm message of the low air pressure monitoring <em>xAlarmPFb</em> is deactivated ( = FALSE ) if the conditions for activation are no longer given and at the same time the monitoring is blocked ( <strong>xPFbControl</strong> = FALSE ) and / or the reset of the error messages ( monitoring ) is active ( <em>xQuit</em> = TRUE ).</div>
</div>
</div>
<div class="section" id="sammelstormeldung-xalarm">
<h3>Collective alarm signal <em>xAlarm</em><a class="headerlink" href="#sammelstormeldung-xalarm" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The collective alarm signal is activated ( = TRUE ) if at least one of the conditions described below is fulfilled.</div>
<div class="line"><br /></div>
<div class="line"><em>xAlarmIn</em>        = TRUE  ( Fan fault message is active )</div>
<div class="line"><em>xAlarmFB</em>        = TRUE  ( error from Operation monitoring )</div>
<div class="line"><em>xAlarmPFB</em>       = TRUE  ( error from low air pressure monitoring )</div>
<div class="line"><em>xMSwitch</em>        = FALSE ( repair switch in position Off )</div>
<div class="line"><br /></div>
<div class="line">In all other cases, the collective alarm is not active (= FALSE).</div>
</div>
</div>
<div class="section" id="stellsignal-ventilator-vor-handubersteuerung-raa">
<h3>Control signal for fan before manual override <em>rAA</em><a class="headerlink" href="#stellsignal-ventilator-vor-handubersteuerung-raa" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The control signal of the fan before manual override <em>rAA</em> is taken from the input control signal - speed <em>rY</em>, if either the output <em>xHB</em> and / or the input <em>xFb</em> is active.</div>
<div class="line">In all other situations, the control signal <em>rAA</em> is set to the value 0.0 %.</div>
</div>
</div>
<div class="section" id="stellsignal-ventilator-nach-handubersteuerung-rha">
<h3>Control signal for fan after manual override <em>rHA</em><a class="headerlink" href="#stellsignal-ventilator-nach-handubersteuerung-rha" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The control signal of the damper actuator after manual override <em>rHA</em> corresponds to the control signal of the fan before manual override <em>rAA</em> plus a manual override module.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-2">
<colgroup>
<col width="17%" />
<col width="17%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>rAA</em></th>
<th class="head"><strong>eManModeN</strong></th>
<th class="head"><em>rHA</em></th>
<th class="head"><p class="first last">Notes</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>X</td>
<td>eMANNUM.Auto</td>
<td><em>rAA</em></td>
<td><p class="first last">Manual override module in automatic mode</p>
</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANNUM.Man</td>
<td><strong>eManValue</strong></td>
<td><p class="first last">Manual override module in manual mode</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legend: X = any</div>
</div>
</div>
<div class="section" id="sammelmeldung-automatikbetrieb-xauto">
<h3>Collective message automatic mode <em>xAuto</em><a class="headerlink" href="#sammelmeldung-automatikbetrieb-xauto" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The collective message automatic mode <em>xAuto</em> is activated ( = TRUE ) if the following conditions are fulfilled at the same time:</div>
<div class="line"><br /></div>
<div class="line">- Eingang <em>eAOO</em> = HVACTYPES.eManBin.Auto</div>
<div class="line">- Eingang <em>eAO</em> = HVACTYPES.eManNum.Auto</div>
<div class="line">- Sollwert / Parameter <strong>eManModeB</strong> = eMANBIN.Auto</div>
<div class="line">- Sollwert / Parameter <strong>eManModeN</strong> = eMANNUM.Auto</div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualization<a class="headerlink" href="#visualisierung" title="Permalink to this headline">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="6%" />
<col width="15%" />
<col width="10%" />
<col width="19%" />
<col width="49%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="12">Input</td>
<td>xEn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Fan request ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td>rY</td>
<td>REAL</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal - Speed 0.0 - 100.0 %</p>
</td>
</tr>
<tr class="row-even"><td>xForce</td>
<td>BOOL</td>
<td>FALSE</td>
<td><p class="first last">Forced shutdown of the fan after manual override ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td>xFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Operating message of the fan ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td>xPFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback of the low air pressure monitoring ( FALSE = low air pressure, TRUE = no low air pressure )</p>
</td>
</tr>
<tr class="row-odd"><td>xMSwitch</td>
<td>BOOL</td>
<td>TRUE</td>
<td><p class="first last">Feedback of the repair switches ( FALSE = switch off, TRUE = switch on )</p>
</td>
</tr>
<tr class="row-even"><td>xAlarmIn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Alarm message of the fan ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td>eAOO</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>HVACTYPES.eManBin.Auto</td>
<td><p class="first last">Operating mode of manual override - Hardware for enabling</p>
</td>
</tr>
<tr class="row-even"><td>eAO</td>
<td><a class="reference internal" href="../../Enums/eManNum.html#emannum"><span class="std std-ref">eManNum</span></a></td>
<td>HVACTYPES.eManNum.Auto</td>
<td><p class="first last">Operating mode of manual override - Hardware for the control signal</p>
</td>
</tr>
<tr class="row-odd"><td>rPoti</td>
<td>REAL</td>
<td>&nbsp;</td>
<td><p class="first last">Manual value - Manual override - Hardware for the control signal</p>
</td>
</tr>
<tr class="row-even"><td>rU</td>
<td>REAL</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback signal from the fan in %.</p>
</td>
</tr>
<tr class="row-odd"><td>xQuit</td>
<td>BOOL</td>
<td>FALSE</td>
<td><p class="first last">Reset of the alarm messages ( monitoring ) ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td rowspan="11">Output</td>
<td>xHB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Enable - Fan after manual override ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td>xAB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Enable - Fan before manual override ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td>rHA</td>
<td>REAL</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal - Fan after manual override in %</p>
</td>
</tr>
<tr class="row-odd"><td>rAA</td>
<td>REAL</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal - Fan before manual override in %</p>
</td>
</tr>
<tr class="row-even"><td>xAlarmFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Alarm message for the operation monitoring ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-odd"><td>xAlarmPFb</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Alarm message for low air pressure monitoring ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td>dtLastFb</td>
<td>DT</td>
<td>&nbsp;</td>
<td><p class="first last">Date / time of last fan operation</p>
</td>
</tr>
<tr class="row-odd"><td>udiOperatingHours</td>
<td>UDINT</td>
<td>&nbsp;</td>
<td><p class="first last">Operating hours of the fan</p>
</td>
</tr>
<tr class="row-even"><td>udiCountFb</td>
<td>UDINT</td>
<td>&nbsp;</td>
<td><p class="first last">Number of starts of the ventilator</p>
</td>
</tr>
<tr class="row-odd"><td>xAlarm</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Collective fault message ( FALSE = Off, TRUE = On )</p>
</td>
</tr>
<tr class="row-even"><td>xAuto</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Collective message - automatic mode ( FALSE = no automatic mode, TRUE = automatic mode )</p>
</td>
</tr>
<tr class="row-odd"><td rowspan="8">Input</td>
<td>udiPFbControlTime</td>
<td>UDINT</td>
<td>60</td>
<td><p class="first last">Signal delay of the low air pressure monitoring in s</p>
</td>
</tr>
<tr class="row-even"><td>xPFbControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td><p class="first last">Enable / disable low air pressure monitoring ( FALSE = disable, TRUE = enable )</p>
</td>
</tr>
<tr class="row-odd"><td>xAlarmControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td><p class="first last">Influence of <em>xAlarm</em> on <em>xAB</em> ( FALSE = no influence, TRUE = blocking )</p>
</td>
</tr>
<tr class="row-even"><td>udiFbControlTime</td>
<td>UDINT</td>
<td>60</td>
<td><p class="first last">Signal delay of operation monitoring in s</p>
</td>
</tr>
<tr class="row-odd"><td>xFbControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td><p class="first last">Enable / disable operation monitoring ( FALSE = Disable, TRUE = Enable )</p>
</td>
</tr>
<tr class="row-even"><td>eManValue</td>
<td>REAL</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal in manual operation in %</p>
</td>
</tr>
<tr class="row-odd"><td>eManModeN</td>
<td><a class="reference internal" href="../../Enums/eManNum.html#emannum"><span class="std std-ref">eMANNUM</span></a></td>
<td>eMANNUM.Auto</td>
<td><p class="first last">Operating mode of manual override for the control signal <em>rHA</em></p>
</td>
</tr>
<tr class="row-even"><td>eManModeB</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td><p class="first last">Operating mode of manual override for the <em>xHB</em> digital output</p>
</td>
</tr>
</tbody>
</table>
</dd>
</dl>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="pou-FanAnalog/mQuit.html">FanAnalog.mQuit (METH)</a></li>
<li class="toctree-l1"><a class="reference internal" href="pou-FanAnalog/mResetOperatingHours.html">FanAnalog.mResetOperatingHours (METH)</a></li>
</ul>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="pou-FanAnalog/mQuit.html" class="btn btn-neutral float-right" title="FanAnalog.mQuit (METH)" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="pou-Fan1Speed/mResetOperatingHours.html" class="btn btn-neutral float-left" title="Fan1Speed.mResetOperatingHours (METH)" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>