

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Valve2P (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'en',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Valve3P (FB)" href="Valve3P.html" />
    <link rel="prev" title="SmokeDetector (FB)" href="SmokeDetector.html" />
    <link href="../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../fld-HVAC-Functions.html">HVAC Functions</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../Alarming/fld-Alarming.html">Alarming</a></li>
<li class="toctree-l3"><a class="reference internal" href="../AutomationPortalConnector.html">AutomationPortalConnector (FB)</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Binary/fld-Binary.html">Binary</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Button/fld-Button.html">Button</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Clock/fld-Clock.html">Clock</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="fld-Components.html">Components</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="Burner3P.html">Burner3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerP.html">BurnerP (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerT.html">BurnerT (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="CoolOutProtection.html">CoolOutProtection (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Damper2P.html">Damper2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DamperAnalog.html">DamperAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DuoPump.html">DuoPump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Fan1Speed.html">Fan1Speed (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanAnalog.html">FanAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanControl.html">FanControl (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FastHeating.html">FastHeating (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FireDamperMot.html">FireDamperMot (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="OptStartHeat.html">OptStartHeat (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="PreRinseOperationValveAnalog.html">PreRinseOperationValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Pump.html">Pump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SequenceSUPTemp.html">SequenceSUPTemp (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Shade.html">Shade (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SmokeDetector.html">SmokeDetector (FB)</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Valve2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve3P.html">Valve3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveAnalog.html">ValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveTherm.html">ValveTherm (FB)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../Control/fld-Control.html">Control</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Counter/fld-Counter.html">Counter</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Damping/fld-Damping.html">Damping</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Energy/fld-Energy.html">Energy</a></li>
<li class="toctree-l3"><a class="reference internal" href="../General/fld-General.html">General</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Monitoring/fld-Monitoring.html">Monitoring</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Numeric/fld-Numeric.html">Numeric</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Setpoint/fld-Setpoint.html">Setpoint</a></li>
<li class="toctree-l3"><a class="reference internal" href="../System-Info/fld-System-Info.html">System Info</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Time/fld-Time.html">Time</a></li>
<li class="toctree-l3"><a class="reference internal" href="../checkLicense.html">checkLicense (FB)</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../Functions/fld-Functions.html">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../Enums/fld-Enums.html">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalConstants/fld-GlobalConstants.html">GlobalConstants</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalVariables/fld-GlobalVariables.html">GlobalVariables</a></li>
</ul>
</li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../../fld-HVAC-Library.html">HVAC Library</a> &raquo;</li>
        
          <li><a href="../fld-HVAC-Functions.html">HVAC Functions</a> &raquo;</li>
        
          <li><a href="fld-Components.html">Components</a> &raquo;</li>
        
      <li>Valve2P (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../_sources/HVAC-Library/HVAC-Functions/Components/Valve2P.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-valve2p"></span><div class="section" id="valve2p-fb">
<span id="valve2p"></span><span id="index-0"></span><h1>Valve2P (FB)<a class="headerlink" href="#valve2p-fb" title="Permalink to this headline">¶</a></h1>
<p>FUNCTION_BLOCK Valve2P</p>
<div class="section" id="kurzbeschreibung">
<h2>Short Description<a class="headerlink" href="#kurzbeschreibung" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Control of a binary valve actuator with two position feedback signals</div>
<div class="line"><br /></div>
<div class="line">Typical application: Drive of a boiler plant with butterfly valves</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Portrayal<a class="headerlink" href="#darstellung" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><img alt="../../../_images/Valve2P_FB.png" src="../../../_images/Valve2P_FB.png" />
</div></blockquote>
</div>
<div class="section" id="schnittstellen">
<h2>Interfaces<a class="headerlink" href="#schnittstellen" title="Permalink to this headline">¶</a></h2>
<div class="section" id="eingange">
<h3>Inputs<a class="headerlink" href="#eingange" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id1">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><p class="first last">Datatype</p>
</th>
<th class="head"><p class="first last">Range</p>
</th>
<th class="head"><p class="first last">Init-Value</p>
</th>
<th class="head"><p class="first last">Functional Description</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xY</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal</p>
</td>
</tr>
<tr class="row-odd"><td><em>xForce</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td><p class="first last">Forced override after manual override</p>
</td>
</tr>
<tr class="row-even"><td><em>eAOO</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>HVACTYPES.eManBin.Auto</td>
<td><p class="first last">Operating mode of manual override - Hardware</p>
</td>
</tr>
<tr class="row-odd"><td><em>xOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback valve opening</p>
</td>
</tr>
<tr class="row-even"><td><em>xClosed</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback valve closure</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="ausgange">
<h3>Outputs<a class="headerlink" href="#ausgange" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id2">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><p class="first last">Datatype</p>
</th>
<th class="head"><p class="first last">Range</p>
</th>
<th class="head"><p class="first last">Init-Value</p>
</th>
<th class="head"><p class="first last">Functional Description</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xHB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Release valve actuator after manual override</p>
</td>
</tr>
<tr class="row-odd"><td><em>xAB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Enable valve drive before manual override</p>
</td>
</tr>
<tr class="row-even"><td><em>xAlarmOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Fault Position Valve opening</p>
</td>
</tr>
<tr class="row-odd"><td><em>xAlarmClosed</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Malfunction Position Valve closure</p>
</td>
</tr>
<tr class="row-even"><td><em>dtAbsLastOn</em></td>
<td>DATE_AND_TIME</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Date / time of the last anti-lock operation</p>
</td>
</tr>
<tr class="row-odd"><td><em>xAlarm</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Collective alarm</p>
</td>
</tr>
<tr class="row-even"><td><em>xAuto</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><p class="first last">Collective message of Automatic operation</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="sollwerte-parameter">
<h3>Setpoints / Parameters<a class="headerlink" href="#sollwerte-parameter" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id3">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><p class="first last">Datatype</p>
</th>
<th class="head"><p class="first last">Range</p>
</th>
<th class="head"><p class="first last">Init-Value</p>
</th>
<th class="head"><p class="first last">Functional Description</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><strong>udiAbsTime</strong></td>
<td>UDINT</td>
<td>0 ... 600s</td>
<td>200s</td>
<td><p class="first last">Duration of anti-lock operation</p>
</td>
</tr>
<tr class="row-odd"><td><strong>todAbsStartTime</strong></td>
<td>TOD</td>
<td><p class="first last">00:00:00 - 23:59:59 o&#8217;clock</p>
</td>
<td><p class="first last">09:00:00 o&#8217;clock</p>
</td>
<td><p class="first last">Time point of anti-lock operation</p>
</td>
</tr>
<tr class="row-even"><td><strong>eAbsDay</strong></td>
<td>eDoW</td>
<td>eDow.Inactive, eDoW.Monday ... eDoW.Sunday</td>
<td>eDoW.Monday</td>
<td><p class="first last">Weekday of the anti-lock operation</p>
</td>
</tr>
<tr class="row-odd"><td><strong>udiControlTime</strong></td>
<td>UDINT</td>
<td>10s ... 600s</td>
<td>150s</td>
<td><p class="first last">Signal delay of position monitoring</p>
</td>
</tr>
<tr class="row-even"><td><strong>xControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td><p class="first last">Enabling position monitoring</p>
</td>
</tr>
<tr class="row-odd"><td><strong>xForceOption</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td><p class="first last">Status of output <em>xHB</em> with forced override</p>
</td>
</tr>
<tr class="row-even"><td><strong>eManModeB</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.ManOff, eMANBIN.ManOn</td>
<td>eMANBIN.Auto</td>
<td><p class="first last">Operating mode of manual override for the <em>xHB</em> digital output</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Functional Description<a class="headerlink" href="#funktionsbeschreibung" title="Permalink to this headline">¶</a></h2>
<div class="section" id="automatik-ausgang-xab">
<h3>Automatic output <em>xAB</em><a class="headerlink" href="#automatik-ausgang-xab" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The release of the damper actuator before manual override <em>xAB</em> is taken over from the release input <em>xY</em>.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="hand-ausgang-xhb">
<h3><em>xHB</em> manual output<a class="headerlink" href="#hand-ausgang-xhb" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The release of the valve actuator after manual override <em>xHB</em> corresponds to the release of the valve actuator before manual override <em>xAB</em> additionally extended by a manual override module and a forced override.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xAB</em></th>
<th class="head"><strong>eManModeB</strong></th>
<th class="head"><em>xForce</em></th>
<th class="head"><strong>xForceOption</strong></th>
<th class="head"><em>xHB</em></th>
<th class="head"><p class="first last">Notes</p>
</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td><p class="first last">Manual override module in automatic mode</p>
</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td><p class="first last">Manual override module in automatic mode</p>
</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.ManOff</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td><p class="first last">Manual override module in manual mode Off</p>
</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.ManOn</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td><p class="first last">Manual override module in manual mode On</p>
</td>
</tr>
<tr class="row-even"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>FALSE</td>
<td>FALSE</td>
<td><p class="first last">Forced override Close</p>
</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>TRUE</td>
<td>TRUE</td>
<td><p class="first last">Forced override Open</p>
</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legend: X = any</div>
</div>
</div>
<div class="section" id="storung-position-ventiloffnung-xalarmopen">
<h3>Malfunction Position Valve opening <em>xAlarmOpen</em><a class="headerlink" href="#storung-position-ventiloffnung-xalarmopen" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The Alarm message for the position at the valve opening <em>xAlarmOpen</em> is activated ( <em>xAlarmOpen</em> = TRUE ) if the following conditions are fulfilled at the same time:</div>
<div class="line"><br /></div>
<div class="line">Condition 1: The enabling of the <em>xControl</em> position monitoring is enabled (= TRUE)</div>
<div class="line"><br /></div>
<div class="line">Condition 2: Automatic mode is selected as operating mode of the manual override- hardware <em>eAOO</em> (eAOO = HVACTYPES.eManBin.auto)</div>
<div class="line"><br /></div>
<div class="line">Condition 3: The states of the release of the damper actuator after manual override <em>xHB</em> and the feedback for the damper opening <em>xOpen</em> are continuously different at least during the signal delay of the position monitoring <strong>udiControlTime</strong> ( <em>xHB</em> = FALSE and <em>xOpen</em> = TRUE ) OR ( <em>xHB</em> = TRUE and <em>xOpen</em> = FALSE ) ).</div>
<div class="line"><br /></div>
<div class="line">The alarm message for the position at the valve opening <em>xAlarmOpen</em> is deactivated if at least one of the above conditions is no longer fulfilled.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="storung-position-ventiloffnung-xalarmclosed">
<h3>Malfunction Position valve opening <em>xAlarmClosed</em><a class="headerlink" href="#storung-position-ventiloffnung-xalarmclosed" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The Alarm message for the position at the valve opening <em>xAlarmClosed</em> is activated ( <em>xAlarmClosed</em> = TRUE ) if the following conditions are fulfilled at the same time:</div>
<div class="line"><br /></div>
<div class="line">Condition 1: The enabling of the <em>xControl</em> position monitoring is enabled (= TRUE)</div>
<div class="line"><br /></div>
<div class="line">Condition 2: Automatic mode is selected as operating mode of the manual override- hardware <em>eAOO</em> (eAOO = HVACTYPES.eManBin.auto)</div>
<div class="line"><br /></div>
<div class="line">Condition 3: The states of the release of the valve actuator after manual override <em>xHB</em> and the feedback for valve closure <em>xClosed</em> are the same throughout at least during the message delay of the position monitoring <strong>udiControlTime</strong> ( ( <em>xHB</em> = TRUE and <em>xOpen</em> = TRUE ) OR ( <em>xHB</em> = FALSE and <em>xOpen</em> = FALSE ) ).</div>
<div class="line"><br /></div>
<div class="line">The alarm message for the position at the valve opening <em>xAlarmClosed</em> is deactivated if at least one of the above conditions is no longer fulfilled.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="sammelstorung-xalarm">
<h3><em>xAlarm</em> collective alarm<a class="headerlink" href="#sammelstorung-xalarm" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The collective alarm <em>xAlarm</em> is activated ( = TRUE ) if at least one of the two faults is active for the damper positions ( <em>xAlarmOpen</em> and <em>xAlarmClosed</em> ).</div>
<div class="line">In all other cases, the <em>xAlarm</em> collective fault is not activated (= FALSE).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="blockierschutzmodul">
<h3>Anti-lock module<a class="headerlink" href="#blockierschutzmodul" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The anti-lock module is implemented by the binary blocking protection module with adjustable time duration (FB: AbsB).</div>
<div class="line">The time duration <em>udiAbsTime</em>, the time point <strong>todAbsStartTime</strong> and the weekday <strong>eAbsDay</strong> are adjustable.</div>
<div class="line">The minimum run time for locking the anti-lock operation is 30s.</div>
<div class="line">The <em>dtAbsLastOn</em> time stamp (date / time) of the last anti-lock operation is available.</div>
</div>
</div>
<div class="section" id="sammelmeldung-automatikbetrieb-xauto">
<h3>Collective message automatic mode <em>xAuto</em><a class="headerlink" href="#sammelmeldung-automatikbetrieb-xauto" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The collective message Automatic mode <em>xAuto</em> is activated ( = TRUE ) if the input <em>eAOO</em> contains the value HVACTYPES.eManBin.Auto and the setpoint / parameter <strong>eManModeB</strong> contains the value eMANBIN.Auto.</div>
<div class="line">In all other cases, the collective message Automatic mode <em>xAuto</em> is not activated ( = FALSE ).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="zwangsubersteuerung-xforce">
<h3>Forced override <em>xForce</em><a class="headerlink" href="#zwangsubersteuerung-xforce" title="Permalink to this headline">¶</a></h3>
<div class="line-block">
<div class="line">The forced override acts directly on the output <em>xHB</em>. The parameter <strong>xForceOption</strong> defines the state of the output <em>xHB</em> when TRUE at the input <em>xForce</em>.</div>
<div class="line"><br /></div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualization<a class="headerlink" href="#visualisierung" title="Permalink to this headline">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="7%" />
<col width="14%" />
<col width="11%" />
<col width="20%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="5">Input</td>
<td>xY</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Control signal</p>
</td>
</tr>
<tr class="row-odd"><td>xForce</td>
<td>BOOL</td>
<td>FALSE</td>
<td><p class="first last">Forced override after Manual override</p>
</td>
</tr>
<tr class="row-even"><td>eAOO</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>HVACTYPES.eManBin.Auto</td>
<td><p class="first last">Operating mode of manual override - Hardware</p>
</td>
</tr>
<tr class="row-odd"><td>xOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback valve opening</p>
</td>
</tr>
<tr class="row-even"><td>xClosed</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Feedback valve closure</p>
</td>
</tr>
<tr class="row-odd"><td rowspan="7">Output</td>
<td>xHB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Release valve actuator after manual override</p>
</td>
</tr>
<tr class="row-even"><td>xAB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Enable valve drive before manual override</p>
</td>
</tr>
<tr class="row-odd"><td>xAlarmOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Fault Position Valve opening</p>
</td>
</tr>
<tr class="row-even"><td>xAlarmClosed</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Malfunction Position Valve closure</p>
</td>
</tr>
<tr class="row-odd"><td>dtAbsLastOn</td>
<td>DT</td>
<td>&nbsp;</td>
<td><p class="first last">Date / time of the last anti-lock operation</p>
</td>
</tr>
<tr class="row-even"><td>xAlarm</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Collective alarm</p>
</td>
</tr>
<tr class="row-odd"><td>xAuto</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td><p class="first last">Collective message of Automatic operation</p>
</td>
</tr>
<tr class="row-even"><td rowspan="7">Input</td>
<td>udiAbsTime</td>
<td>UDINT</td>
<td>120</td>
<td><p class="first last">Duration of anti-lock operation</p>
</td>
</tr>
<tr class="row-odd"><td>todAbsStartTime</td>
<td>TOD</td>
<td>TIME_OF_DAY#8:0</td>
<td><p class="first last">Time point of anti-lock operation</p>
</td>
</tr>
<tr class="row-even"><td>eAbsDay</td>
<td><a class="reference internal" href="../../Enums/eDoW.html#edow"><span class="std std-ref">eDoW</span></a></td>
<td>eDow.Monday</td>
<td><p class="first last">Weekday of the anti-lock operation</p>
</td>
</tr>
<tr class="row-odd"><td>udiControlTime</td>
<td>UDINT</td>
<td>200</td>
<td><p class="first last">Signal delay of position monitoring</p>
</td>
</tr>
<tr class="row-even"><td>xControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td><p class="first last">Enabling position monitoring</p>
</td>
</tr>
<tr class="row-odd"><td>xForceOption</td>
<td>BOOL</td>
<td>FALSE</td>
<td><p class="first last">Status of output <em>xHB</em> with forced override</p>
</td>
</tr>
<tr class="row-even"><td>eManModeB</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td><p class="first last">Operating mode of manual override for the <em>xHB</em> digital output</p>
</td>
</tr>
</tbody>
</table>
</dd>
</dl>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="Valve3P.html" class="btn btn-neutral float-right" title="Valve3P (FB)" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="SmokeDetector.html" class="btn btn-neutral float-left" title="SmokeDetector (FB)" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>