

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="de" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Damper2P (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'de',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Stichwortverzeichnis" href="../../../genindex.html" />
    <link rel="search" title="Suche" href="../../../search.html" />
    <link rel="next" title="DamperAnalog (FB)" href="DamperAnalog.html" />
    <link rel="prev" title="CoolOutProtection (FB)" href="CoolOutProtection.html" />
    <link href="../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../fld-HVAC-Functions.html">HVAC Functions</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../Alarming/fld-Alarming.html">Alarming</a></li>
<li class="toctree-l3"><a class="reference internal" href="../AutomationPortalConnector.html">AutomationPortalConnector (FB)</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Binary/fld-Binary.html">Binary</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Button/fld-Button.html">Button</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Clock/fld-Clock.html">Clock</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="fld-Components.html">Components</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="Burner3P.html">Burner3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerP.html">BurnerP (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerT.html">BurnerT (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="CoolOutProtection.html">CoolOutProtection (FB)</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Damper2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DamperAnalog.html">DamperAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DuoPump.html">DuoPump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Fan1Speed.html">Fan1Speed (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanAnalog.html">FanAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanControl.html">FanControl (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FastHeating.html">FastHeating (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FireDamperMot.html">FireDamperMot (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="OptStartHeat.html">OptStartHeat (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="PreRinseOperationValveAnalog.html">PreRinseOperationValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Pump.html">Pump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SequenceSUPTemp.html">SequenceSUPTemp (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Shade.html">Shade (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SmokeDetector.html">SmokeDetector (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve2P.html">Valve2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve3P.html">Valve3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveAnalog.html">ValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveTherm.html">ValveTherm (FB)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../Control/fld-Control.html">Control</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Counter/fld-Counter.html">Counter</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Damping/fld-Damping.html">Damping</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Energy/fld-Energy.html">Energy</a></li>
<li class="toctree-l3"><a class="reference internal" href="../General/fld-General.html">General</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Monitoring/fld-Monitoring.html">Monitoring</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Numeric/fld-Numeric.html">Numeric</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Setpoint/fld-Setpoint.html">Setpoint</a></li>
<li class="toctree-l3"><a class="reference internal" href="../System-Info/fld-System-Info.html">System Info</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Time/fld-Time.html">Time</a></li>
<li class="toctree-l3"><a class="reference internal" href="../checkLicense.html">checkLicense (FB)</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../Functions/fld-Functions.html">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../Enums/fld-Enums.html">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalConstants/fld-GlobalConstants.html">GlobalConstants</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalVariables/fld-GlobalVariables.html">GlobalVariables</a></li>
</ul>
</li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../../fld-HVAC-Library.html">HVAC Library</a> &raquo;</li>
        
          <li><a href="../fld-HVAC-Functions.html">HVAC Functions</a> &raquo;</li>
        
          <li><a href="fld-Components.html">Components</a> &raquo;</li>
        
      <li>Damper2P (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../_sources/HVAC-Library/HVAC-Functions/Components/Damper2P.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-damper2p"></span><div class="section" id="damper2p-fb">
<span id="damper2p"></span><span id="index-0"></span><h1>Damper2P (FB)<a class="headerlink" href="#damper2p-fb" title="Link zu dieser Überschrift">¶</a></h1>
<p>FUNCTION_BLOCK Damper2P</p>
<div class="section" id="kurzbeschreibung">
<h2>Kurzbeschreibung<a class="headerlink" href="#kurzbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Steuerung eines binären Klappenantriebs mit zwei Positionsrückmeldungen</div>
<div class="line"><br /></div>
<div class="line">Typische Anwendung: Außen- und Abluftklappen einer RLT-Anlage</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Darstellung<a class="headerlink" href="#darstellung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><img alt="../../../_images/Damper2P_FB.png" src="../../../_images/Damper2P_FB.png" />
</div></blockquote>
</div>
<div class="section" id="schnittstellen">
<h2>Schnittstellen<a class="headerlink" href="#schnittstellen" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="eingange">
<h3>Eingänge<a class="headerlink" href="#eingange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id1">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xY</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal</td>
</tr>
<tr class="row-odd"><td><em>xForce</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Zwangsübersteuerung nach Handübersteuerung</td>
</tr>
<tr class="row-even"><td><em>eAOO</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>HVACTYPES.eManBin.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware</td>
</tr>
<tr class="row-odd"><td><em>xOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Rückmeldung Klappenöffnung</td>
</tr>
<tr class="row-even"><td><em>xClosed</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Rückmeldung Klappenschliessung</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="ausgange">
<h3>Ausgänge<a class="headerlink" href="#ausgange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id2">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xHB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe Klappenantrieb nach Handübersteuerung</td>
</tr>
<tr class="row-odd"><td><em>xAB</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe Klappenantrieb vor Handübersteuerung</td>
</tr>
<tr class="row-even"><td><em>xAlarmOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störung Position Klappenöffnung</td>
</tr>
<tr class="row-odd"><td><em>xAlarmClosed</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Störung Position Klappenschliessung</td>
</tr>
<tr class="row-even"><td><em>xAlarm</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelstörung</td>
</tr>
<tr class="row-odd"><td><em>xAuto</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelmeldung Automatikbetrieb</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="sollwerte-parameter">
<h3>Sollwerte / Parameter<a class="headerlink" href="#sollwerte-parameter" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id3">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><strong>udiControlTime</strong></td>
<td>UDINT</td>
<td>10s ... 600s</td>
<td>150s</td>
<td>Meldeverzögerung der Positionsüberwachung</td>
</tr>
<tr class="row-odd"><td><strong>xControl</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Freigabe der Positionsüberwachung</td>
</tr>
<tr class="row-even"><td><strong>xForceOption</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Zustand vom Ausgang <em>xHB</em> bei Zwangsübersteuerung</td>
</tr>
<tr class="row-odd"><td><strong>eManModeB</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.ManOff, eMANBIN.ManOn</td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang <em>xHB</em></td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Funktionsbeschreibung<a class="headerlink" href="#funktionsbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="automatik-ausgang-xab">
<h3>Automatik-Ausgang <em>xAB</em><a class="headerlink" href="#automatik-ausgang-xab" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe des Klappenantrieb vor Handübersteuerung <em>xAB</em> wird unverändert vom Freigabeeingang <em>xY</em> übernommen.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="hand-ausgang-xhb">
<h3>Hand-Ausgang <em>xHB</em><a class="headerlink" href="#hand-ausgang-xhb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe des Klappenantrieb nach Handübersteuerung <em>xHB</em> entspricht der Freigabe des Klappenantrieb vor Handübersteuerung <em>xAB</em>
zusätzlich erweitert um ein Handübersteuermodul und einer Zwangsübersteuerung.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xAB</em></th>
<th class="head"><strong>eManModeB</strong></th>
<th class="head"><em>xForce</em></th>
<th class="head"><strong>xForceOption</strong></th>
<th class="head"><em>xHB</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.ManOff</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul im Handbetrieb Aus</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.ManOn</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul im Handbetrieb Ein</td>
</tr>
<tr class="row-even"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>FALSE</td>
<td>FALSE</td>
<td>Zwangsübersteuerung Zu</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>TRUE</td>
<td>TRUE</td>
<td>Zwangsübersteuerung Auf</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="storung-position-klappenoffnung-xalarmopen">
<h3>Störung Position Klappenöffnung <em>xAlarmOpen</em><a class="headerlink" href="#storung-position-klappenoffnung-xalarmopen" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Störmeldung für die Position bei der Klappenöffnung <em>xAlarmOpen</em> wird aktiviert ( <em>xAlarmOpen</em> = TRUE ), falls folgende Bedingungen gleichzeitig erfüllt sind:</div>
<div class="line"><br /></div>
<div class="line">1) Die Freigabe der Positionsüberwachung <em>xControl</em> ist freigegeben ( = TRUE )</div>
<div class="line"><br /></div>
<div class="line">2) Als Betriebsart der Handübersteuerung - Hardware <em>eAOO</em> ist der Automatikbetrieb ausgewählt ( <em>eAOO</em> = HVACTYPES.eManBin.Auto )</div>
<div class="line"><br /></div>
<div class="line">3) Die Zustände der Freigabe des Klappenantrieb nach Handübersteuerung <em>xHB</em> und der Rückmeldung für die Klappenöffnung <em>xOpen</em> sind mindestens
während der Meldeverzögerung der Positionsüberwachung <strong>udiControlTime</strong> durchgehend unterschiedlich ( ( <em>xHB</em> = FALSE und <em>xOpen</em> = TRUE ) ODER ( <em>xHB</em> = TRUE und <em>xOpen</em> = FALSE ) ).</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung für die Position bei der Klappenöffnung <em>xAlarmOpen</em> wird deaktiviert, falls mindestens eine der oben stehenden Bedingungen nicht mehr erfüllt ist.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="storung-position-klappenoffnung-xalarmclosed">
<h3>Störung Position Klappenöffnung <em>xAlarmClosed</em><a class="headerlink" href="#storung-position-klappenoffnung-xalarmclosed" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Störmeldung für die Position bei der Klappenöffnung <em>xAlarmClosed</em> wird aktiviert ( <em>xAlarmClosed</em> = TRUE ), falls folgende Bedingungen gleichzeitig erfüllt sind:</div>
<div class="line"><br /></div>
<div class="line">1) Die Freigabe der Positionsüberwachung <em>xControl</em> ist freigegeben ( = TRUE )</div>
<div class="line"><br /></div>
<div class="line">2) Als Betriebsart der Handübersteuerung - Hardware <em>eAOO</em> ist der Automatikbetrieb ausgewählt ( <em>eAOO</em> = HVACTYPES.eManBin.Auto )</div>
<div class="line"><br /></div>
<div class="line">3) Die Zustände der Freigabe des Klappenantrieb nach Handübersteuerung <em>xHB</em> und der Rückmeldung für die Klappenschliessung <em>xClosed</em> sind mindestens
während der Meldeverzögerung der Positionsüberwachung <strong>udiControlTime</strong> durchgehend gleich ( ( <em>xHB</em> = TRUE und <em>xOpen</em> = TRUE ) ODER ( <em>xHB</em> = FALSE und <em>xOpen</em> = FALSE ) ).</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung für die Position bei der Klappenöffnung <em>xAlarmClosed</em> wird deaktiviert, falls mindestens eine der oben stehenden Bedingungen nicht mehr erfüllt ist.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="sammelstorung-xalarm">
<h3>Sammelstörung <em>xAlarm</em><a class="headerlink" href="#sammelstorung-xalarm" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelstörung <em>xAlarm</em> wird aktiviert ( = TRUE ), falls mindestens eine der beiden Störungen für die Positionen der Klappe ( <em>xAlarmOpen</em> und <em>xAlarmClosed</em> ) aktiv ist.</div>
<div class="line">In alle übrigen Fällen ist die Sammelstörung <em>xAlarm</em> nicht aktiviert ( = FALSE ).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="sammelmeldung-automatikbetrieb-xauto">
<h3>Sammelmeldung Automatikbetrieb <em>xAuto</em><a class="headerlink" href="#sammelmeldung-automatikbetrieb-xauto" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelmeldung Automatikbetrieb <em>xAuto</em> wird aktiviert ( = TRUE ), falls der Eingang <em>eAOO</em> den Wert HVACTYPES.eManBin.Auto und der Sollwert / Parameter <strong>eManModeB</strong>
den Wert eMANBIN.Auto enthält.</div>
<div class="line">In alle übrigen Fällen ist die Sammelmeldung Automatikbetrieb <em>xAuto</em> nicht aktiviert ( = FALSE ).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="zwangsubersteuerung-xforce">
<h3>Zwangsübersteuerung <em>xForce</em><a class="headerlink" href="#zwangsubersteuerung-xforce" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Zwangsübersteuerung wirkt direkt auf den Ausgang <em>xHB</em>. Mit dem Parameter <strong>xForceOption</strong> wird festgelegt, welchen Zustand der Ausgang <em>xHB</em> bei TRUE am Eingang <em>xForce</em> einnimmt.</div>
<div class="line"><br /></div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualisierung<a class="headerlink" href="#visualisierung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Link zu dieser Überschrift">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="7%" />
<col width="13%" />
<col width="11%" />
<col width="20%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="5">Input</td>
<td>xY</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Stellsignal</td>
</tr>
<tr class="row-odd"><td>xForce</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Zwangsübersteuerung nach Handebene</td>
</tr>
<tr class="row-even"><td>eAOO</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>HVACTYPES.eManBin.Auto</td>
<td>Betriebsart der Handübersteuerung - Hardware</td>
</tr>
<tr class="row-odd"><td>xOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Rückmeldung Klappenöffnung</td>
</tr>
<tr class="row-even"><td>xClosed</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Rückmeldung Klappenschliessung</td>
</tr>
<tr class="row-odd"><td rowspan="6">Output</td>
<td>xHB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe Klappenantrieb nach Handübersteuerung</td>
</tr>
<tr class="row-even"><td>xAB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe Klappenantrieb vor Handübersteuerung</td>
</tr>
<tr class="row-odd"><td>xAlarmOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störung Position Klappenöffnung</td>
</tr>
<tr class="row-even"><td>xAlarmClosed</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Störung Position Klappenschliessung</td>
</tr>
<tr class="row-odd"><td>xAlarm</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelstörung</td>
</tr>
<tr class="row-even"><td>xAuto</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelmeldung Automatikbetrieb</td>
</tr>
<tr class="row-odd"><td rowspan="4">Input</td>
<td>udiControlTime</td>
<td>UDINT</td>
<td>200</td>
<td>Meldeverzögerung der Positionsüberwachung</td>
</tr>
<tr class="row-even"><td>xControl</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Freigabe der Positionsüberwachung</td>
</tr>
<tr class="row-odd"><td>xForceOption</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Zustand vom Ausgang <em>xHB</em> bei Zwangsübersteuerung</td>
</tr>
<tr class="row-even"><td>eManModeB</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang
<em>xHB</em></td>
</tr>
</tbody>
</table>
</dd>
</dl>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="DamperAnalog.html" class="btn btn-neutral float-right" title="DamperAnalog (FB)" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="CoolOutProtection.html" class="btn btn-neutral float-left" title="CoolOutProtection (FB)" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>