

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="de" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>FireDamperMot (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'de',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Stichwortverzeichnis" href="../../../genindex.html" />
    <link rel="search" title="Suche" href="../../../search.html" />
    <link rel="next" title="OptStartHeat (FB)" href="OptStartHeat.html" />
    <link rel="prev" title="FastHeating (FB)" href="FastHeating.html" />
    <link href="../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../fld-HVAC-Functions.html">HVAC Functions</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../Alarming/fld-Alarming.html">Alarming</a></li>
<li class="toctree-l3"><a class="reference internal" href="../AutomationPortalConnector.html">AutomationPortalConnector (FB)</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Binary/fld-Binary.html">Binary</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Button/fld-Button.html">Button</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Clock/fld-Clock.html">Clock</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="fld-Components.html">Components</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="Burner3P.html">Burner3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerP.html">BurnerP (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerT.html">BurnerT (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="CoolOutProtection.html">CoolOutProtection (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Damper2P.html">Damper2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DamperAnalog.html">DamperAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DuoPump.html">DuoPump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Fan1Speed.html">Fan1Speed (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanAnalog.html">FanAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanControl.html">FanControl (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FastHeating.html">FastHeating (FB)</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">FireDamperMot (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="OptStartHeat.html">OptStartHeat (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="PreRinseOperationValveAnalog.html">PreRinseOperationValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Pump.html">Pump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SequenceSUPTemp.html">SequenceSUPTemp (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Shade.html">Shade (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SmokeDetector.html">SmokeDetector (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve2P.html">Valve2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve3P.html">Valve3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveAnalog.html">ValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveTherm.html">ValveTherm (FB)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../Control/fld-Control.html">Control</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Counter/fld-Counter.html">Counter</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Damping/fld-Damping.html">Damping</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Energy/fld-Energy.html">Energy</a></li>
<li class="toctree-l3"><a class="reference internal" href="../General/fld-General.html">General</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Monitoring/fld-Monitoring.html">Monitoring</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Numeric/fld-Numeric.html">Numeric</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Setpoint/fld-Setpoint.html">Setpoint</a></li>
<li class="toctree-l3"><a class="reference internal" href="../System-Info/fld-System-Info.html">System Info</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Time/fld-Time.html">Time</a></li>
<li class="toctree-l3"><a class="reference internal" href="../checkLicense.html">checkLicense (FB)</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../Functions/fld-Functions.html">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../Enums/fld-Enums.html">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalConstants/fld-GlobalConstants.html">GlobalConstants</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalVariables/fld-GlobalVariables.html">GlobalVariables</a></li>
</ul>
</li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../../fld-HVAC-Library.html">HVAC Library</a> &raquo;</li>
        
          <li><a href="../fld-HVAC-Functions.html">HVAC Functions</a> &raquo;</li>
        
          <li><a href="fld-Components.html">Components</a> &raquo;</li>
        
      <li>FireDamperMot (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../_sources/HVAC-Library/HVAC-Functions/Components/FireDamperMot.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-firedampermot"></span><div class="section" id="firedampermot-fb">
<span id="firedampermot"></span><span id="index-0"></span><h1>FireDamperMot (FB)<a class="headerlink" href="#firedampermot-fb" title="Link zu dieser Überschrift">¶</a></h1>
<p>FUNCTION_BLOCK FireDamperMot</p>
<div class="section" id="kurzbeschreibung">
<h2>Kurzbeschreibung<a class="headerlink" href="#kurzbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Steuerung einer motorischen Brandschutzklappe mit zwei Positionsrückmeldungen</div>
<div class="line">Zusatzfunktionen: Funktionstest der Brandschutzklappe</div>
<div class="line">Typische Anwendung: Steuerung einer Brandschutzklappe in einer RLT-Anlage</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Darstellung<a class="headerlink" href="#darstellung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><img alt="../../../_images/FireDamperMot_FB.png" src="../../../_images/FireDamperMot_FB.png" />
</div></blockquote>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Funktionsbeschreibung<a class="headerlink" href="#funktionsbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="allgemeines">
<h3>Allgemeines<a class="headerlink" href="#allgemeines" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Dieser Funktionsbaustein steuert eine binäre motorische Brandschutzklappe( <em>xEn</em> = TRUE ), überwacht die Laufzeiten während des
Öffnungs- und Schliessvorgangs und kann einen vollständigen Brandschutzklappentest durchführen.</div>
<div class="line">Der Funktionsbaustein kann entweder im Normalbetrieb oder im Testbetrieb betrieben werden.</div>
<div class="line">Der Testbetrieb ist gegenüber dem Normalbetrieb höher priorisiert und kann durch eine ansteigende Flanke am Eingang <em>xTestEx</em>
und / oder am Sollwert / Parameter <strong>xRunTest</strong> ausgelöst werden.</div>
</div>
</div>
<div class="section" id="freigabe-offnung-schliessung-der-brandschutzklappe-vor-handubersteuerung-xab">
<h3>Freigabe Öffnung / Schliessung der Brandschutzklappe vor Handübersteuerung <em>xAB</em><a class="headerlink" href="#freigabe-offnung-schliessung-der-brandschutzklappe-vor-handubersteuerung-xab" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe Öffnung / Schliessung der Brandschutzklappe vor Handübersteuerung <em>xAB</em> wird unverändert von der
Anforderung Öffnung / Schliessung der Brandschutzklappe <em>xEn</em>  übernommen, falls der Brandschutzklappentest nicht aktiv ist.</div>
</div>
</div>
<div class="section" id="freigabe-offnung-schliessung-der-brandschutzklappe-nach-handubersteuerung-xhb">
<h3>Freigabe Öffnung / Schliessung der Brandschutzklappe nach Handübersteuerung <em>xHB</em><a class="headerlink" href="#freigabe-offnung-schliessung-der-brandschutzklappe-nach-handubersteuerung-xhb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe Öffnung / Schliessung der Brandschutzklappe nach Handübersteuerung <em>xHB</em> entspricht der
Freigabe Öffnung / Schliessung der Brandschutzklappe vor Handübersteuerung <em>xAB</em> zusätzlich erweitert um ein Handübersteuermodul</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="17%" />
<col width="17%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xAB</em></th>
<th class="head"><strong>eManModeB</strong></th>
<th class="head"><em>xHB</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>TRUE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.ManOn</td>
<td>TRUE</td>
<td>Handübersteuermodul in Handbetrieb Ein</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.ManOff</td>
<td>FALSE</td>
<td>Handübersteuermodul in Handbetrieb Aus</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="sammelstorung-xalarm">
<h3>Sammelstörung <em>xAlarm</em><a class="headerlink" href="#sammelstorung-xalarm" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelstörung <em>xAlarm</em> wird aktiviert ( = TRUE ), falls mindestens eine der nachfolgend beschriebenen Bedingungen gegeben ist:</div>
<div class="line"><br /></div>
<div class="line">1) Die Störmeldung für die Rückmeldung der Öffnung <em>xAlarmOpen</em> ist aktiv ( = TRUE ).</div>
<div class="line"><br /></div>
<div class="line">2) Die Störmeldung für die Rückmeldung der Schliessung <em>xAlarmClosed</em> ist aktiv ( = TRUE ).</div>
<div class="line"><br /></div>
<div class="line">3) Der Normalbetrieb ist aktiv und gleichzeitig ist die Brandschutzklappe nicht vollständig geöffnet ( <em>xOpen</em> = FALSE ).</div>
<div class="line-block">
<div class="line">( Hintergrund: Jede nicht vollständig geöffnete Brandschutzklappe stellt im Normalbetrieb einen fehlerhaften Zustand dar ).</div>
<div class="line"><br /></div>
</div>
<div class="line">In alle übrigen Fällen ist die Sammelstörung <em>xAlarm</em> nicht aktiviert ( = FALSE ).</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="freigabe-sperrung-der-stormeldung-fur-die-ruckmeldung-der-offnung-xalarmopen">
<h3>Freigabe / Sperrung der Störmeldung für die Rückmeldung der Öffnung <em>xAlarmOpen</em><a class="headerlink" href="#freigabe-sperrung-der-stormeldung-fur-die-ruckmeldung-der-offnung-xalarmopen" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Überwachung der Laufzeit der Klappe während des Öffnungsvorgangs auf einen einstellbaren Maximalwert ( <strong>tOpen</strong> ) startet,
falls im Normalbetrieb mindestens eine der nachfolgend beschriebenen Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line">1) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Ausgang <em>xHB</em> erkannt ( = Regelfall ).</div>
<div class="line"><br /></div>
<div class="line">2) Die Anforderung zur Öffnung ist aktiv ( <em>xEn</em> = TRUE ) und gleichzeitig wird am Eingang <em>xQuit</em> eine ansteigende Flanke ( FALSE &gt; TRUE ) erkannt.</div>
<div class="line"><br /></div>
<div class="line">3) Der Ausgang <em>xHB</em> ist aktiv ( = TRUE ) und gleichzeitig wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Eingang <em>xOpen</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung für die Rückmeldung der Öffnung <em>xAlarmOpen</em> wird aktiviert ( = TRUE ), falls nach dem Ablauf der maximalen Laufzeit <strong>tOpen</strong>
bei aktivem Ausgang ( <em>xHB</em> = TRUE ) mindestens eine der nachfolgenden Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line">1) Die Rückmeldung der vollständigen Öffnung ist nicht aktiv ( <em>xOpen</em> = FALSE ) ( = Regelfall ).</div>
<div class="line"><br /></div>
<div class="line">2) Die Rückmeldungen <em>xOpen</em> bzw. <em>xClosed</em> haben denselben Zustand.</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung für die Rückmeldung der Öffnung <em>xAlarmOpen</em> wird deaktiviert ( = FALSE ), falls am Eingang <em>xQuit</em> eine ansteigende Flanke ( FALSE &gt; TRUE ) erkannt wird.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="freigabe-sperrung-der-stormeldung-fur-die-ruckmeldung-der-schliessung-xalarmclosed">
<h3>Freigabe / Sperrung der Störmeldung für die Rückmeldung der Schliessung <em>xAlarmClosed</em><a class="headerlink" href="#freigabe-sperrung-der-stormeldung-fur-die-ruckmeldung-der-schliessung-xalarmclosed" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Überwachung der Laufzeit der Klappe während des Schliessvorgangs auf einen einstellbaren Maximalwert ( <strong>tclose</strong> ) startet,
falls im Normalbetrieb mindestens eine der nachfolgend beschriebenen Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line">1) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Ausgang <em>xHB</em> erkannt ( = Regelfall ).</div>
<div class="line"><br /></div>
<div class="line">2) Die Anforderung zur Schliessung ist aktiv ( <em>xEn</em> = FALSE ) und gleichzeitig wird am Eingang <em>xQuit</em> eine ansteigende Flanke ( FALSE &gt; TRUE ) erkannt.</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung für die Rückmeldung der Schliessung <em>xAlarmClosed</em> wird aktiviert ( = TRUE ), falls nach dem Ablauf der maximalen Laufzeit <strong>tClose</strong>
bei nicht aktivem Ausgang ( <em>xHB</em> = FALSE ) mindestens eine der nachfolgenden Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line">1) Die Rückmeldung der vollständigen Schliessung ist nicht aktiv ( <em>xClosed</em> = FALSE ) ( = Regelfall ).</div>
<div class="line"><br /></div>
<div class="line">2) Die Rückmeldungen <em>xOpen</em> bzw. <em>xClosed</em> haben denselben Zustand.</div>
<div class="line"><br /></div>
<div class="line">Die Störmeldung für die Rückmeldung der Schliessung <em>xAlarmClosed</em> wird deaktiviert ( = FALSE ), falls am Eingang <em>xQuit</em> eine ansteigende Flanke ( FALSE &gt; TRUE ) erkannt wird.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="zeitdauer-der-letzten-vollstandigen-offnung-tlastopen">
<h3>Zeitdauer der letzten vollständigen Öffnung <em>tLastOpen</em><a class="headerlink" href="#zeitdauer-der-letzten-vollstandigen-offnung-tlastopen" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Messung der Zeitdauer beginnt jeweils, falls mindestens eine der nachfolgend beschriebenen Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line">1) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Eingang <em>xOpen</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">2) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Eingang <em>xOpen</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">3) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Eingang <em>xClosed</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">4) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Eingang <em>xClosed</em> erkannt. ( Regelfall )</div>
<div class="line"><br /></div>
<div class="line">5) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Ausgang <em>xHB</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">6) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Ausgang <em>xHB</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">An diesem Ausgang steht nach jeder ansteigenden Flanke an der Rückmeldung der vollständigen Öffnung <em>xOpen</em> ( FALSE &gt; TRUE ) die Laufzeit zur Verfügung.</div>
</div>
</div>
<div class="section" id="zeitdauer-der-letzten-vollstandigen-schliessung-tlastclosed">
<h3>Zeitdauer der letzten vollständigen Schliessung <em>tLastClosed</em><a class="headerlink" href="#zeitdauer-der-letzten-vollstandigen-schliessung-tlastclosed" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Messung der Zeitdauer beginnt jeweils, falls mindestens eine der nachfolgend beschriebenen Bedingungen erfüllt ist:</div>
<div class="line"><br /></div>
<div class="line">1) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Eingang <em>xOpen</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">2) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Eingang <em>xOpen</em> erkannt.    ( Regelfall )</div>
<div class="line"><br /></div>
<div class="line">3) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Eingang <em>xClosed</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">4) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Eingang <em>xClosed</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">5) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Ausgang <em>xHB</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">6) Es wird eine abfallende Flanke ( TRUE &gt; FALSE ) am Ausgang <em>xHB</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">An diesem Ausgang steht nach jeder ansteigenden Flanke an der Rückmeldung der vollständigen Schliessung <em>xClosed</em> ( FALSE &gt; TRUE ) die Laufzeit zur Verfügung.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="zeitdauer-der-aktuellen-offnung-schliessung-in-truntime">
<h3>Zeitdauer der aktuellen Öffnung / Schliessung in <em>tRunTime</em><a class="headerlink" href="#zeitdauer-der-aktuellen-offnung-schliessung-in-truntime" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">An diesem Ausgang steht während jeder Laufzeitmessung die aktuelle Laufzeit zur Verfügung.</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="prufung-der-funktionen-der-brandschutzklappe-testbetrieb">
<h3>Prüfung der Funktionen der Brandschutzklappe ( Testbetrieb )<a class="headerlink" href="#prufung-der-funktionen-der-brandschutzklappe-testbetrieb" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Der Testbetrieb wird immer generell ausgelöst, falls mindestens eine der nachfolgend beschriebenen Bedingungen gegeben ist:</div>
<div class="line"><br /></div>
<div class="line">1) Es wird eine ansteigende Flanke ( FALSE &gt; TRUE ) am Eingang <em>xTestEx</em> erkannt.</div>
<div class="line"><br /></div>
<div class="line">2) Es wird der aktive Zustand ( = TRUE ) am Sollwert / Parameter <em>xRunTest</em> erkannt. Der aktive Zustand wird unmittelbar
nach der Erkennung zurück ( = FALSE ) gesetzt.</div>
<div class="line"><br /></div>
<div class="line">Der tatsächliche Testbetrieb erfolgt jedoch nur, falls die Rückmeldung des Automatikbetriebs <em>byAU</em> ( 0 = Automatik, &gt;0 = Handbetrieb ) den
Wert 0 enthält und gleichzeitig die Betriebsart der Handübersteuerung für den digitalen Ausgang <em>xHB</em> den Automatikbetrieb signalisiert
( eMANBIN = eMANBIN.Auto ).</div>
<div class="line"><br /></div>
<div class="line">Im Testbetrieb erfolgt eine Schliessung und anschliessende Öffnung der Brandschutzklappe, jeweils mit Laufzeitüberwachung.</div>
<div class="line">Am Anfang des Testbetriebs werden die Ausgänge <em>xAlarmOpen</em>, <em>xAlarmClosed</em> und <em>xTestOK</em> zurück gesetzt ( = FALSE ).</div>
<div class="line"><br /></div>
<div class="line">Nun wird der Steuerbefehl für die Schliessung ausgelöst und die Laufzeit hinsichtlich einer Überschreitung des Maximalwerts <strong>tClosed</strong> überwacht.</div>
<div class="line">Wird die korrekte Rückmeldesituation ( <em>xClosed</em> = TRUE und <em>xOpen</em> = FALSE ) ohne Überschreitung des Maximalwerts erreicht, so wird</div>
<div class="line">der Ausgang <em>xAlarmClosed</em> nicht aktiviert ( = FALSE ).</div>
<div class="line">In allen übrigen Situationen wird der Ausgang <em>xAlarmClosed</em> aktiviert ( = TRUE ).</div>
<div class="line"><br /></div>
<div class="line">Nun wird der Steuerbefehl für die Öffnung ausgelöst und die Laufzeit hinsichtlich einer Überschreitung des Maximalwerts <strong>tOpen</strong> überwacht.</div>
<div class="line">Wird die korrekte Rückmeldesituation ( <em>xOpen</em> = TRUE und <em>xClosed</em> = FALSE ) ohne Überschreitung des Maximalwerts erreicht, so wird</div>
<div class="line">der Ausgang <em>xAlarmOpen</em> nicht aktiviert ( = FALSE ).</div>
<div class="line">In allen übrigen Situationen wird der Ausgang <em>xAlarmOpen</em> aktiviert ( = TRUE ).</div>
<div class="line"><br /></div>
<div class="line">Die Ergebnisanzeige für den Brandschutzklappentest <em>xTestOK</em> wird aktiviert ( = Prüfung erfolgreich ), falls keiner der beiden Ausgänge
<em>xAlarmOpen</em> bzw. <em>xAlarmClosed</em> aktiv ( = TRUE ) ist.</div>
<div class="line"><br /></div>
<div class="line">Der Testbetrieb endet automatisch, sobald die Prüfung der Brandschutzklappe beendet ist.</div>
</div>
</div>
<div class="section" id="voraussetzungen">
<h3>Voraussetzungen<a class="headerlink" href="#voraussetzungen" title="Link zu dieser Überschrift">¶</a></h3>
<div class="topic">
<p class="topic-title first">Voraussetzung für den Einsatz des Funktionsbausteins FireDamperMot</p>
<div class="line-block">
<div class="line">Zur korrekten Funktion ist der Einsatz des Funktionsbausteins TimeRead mit <em>xEn</em> = TRUE erforderlich.</div>
</div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualisierung<a class="headerlink" href="#visualisierung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Link zu dieser Überschrift">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="7%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="54%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="9">Input</td>
<td>sTitle</td>
<td>STRING</td>
<td>&nbsp;</td>
<td>Name der Brandschutzklappe</td>
</tr>
<tr class="row-odd"><td>sLine1</td>
<td>STRING</td>
<td>&nbsp;</td>
<td>Text für die Zeile 1</td>
</tr>
<tr class="row-even"><td>sLine2</td>
<td>STRING</td>
<td>&nbsp;</td>
<td>Text für die Zeile 2</td>
</tr>
<tr class="row-odd"><td>xEn</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Anforderung Öffnung / Schliessung der Brandschutzklappe (
FALSE = Schliessung, TRUE = Öffnung )</td>
</tr>
<tr class="row-even"><td>byAU</td>
<td>BYTE</td>
<td>0</td>
<td>Rückmeldung des Automatikbetriebs ( 0 = Automatik, &gt;0 =
Handbetrieb )</td>
</tr>
<tr class="row-odd"><td>xOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Rückmeldung - Brandschutzklappe geöffnet ( FALSE = nicht
geöffnet, TRUE = Ofen )</td>
</tr>
<tr class="row-even"><td>xClosed</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Rückmeldung - Brandschutzklappe geschlossen ( FALSE = nicht
geschlossen, TRUE = Geschlossen )</td>
</tr>
<tr class="row-odd"><td>xQuit</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Quittierung von Alarmzuständen ( FALSE &gt; TRUE )</td>
</tr>
<tr class="row-even"><td>xTestEx</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Anforderung des Brandschutzklappentests ( FALSE &gt; TRUE )</td>
</tr>
<tr class="row-odd"><td rowspan="9">Output</td>
<td>xHB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe Öffnung / Schliessung der Brandschutzklappe nach
Handübersteuerung( FALSE = Schliessung, TRUE = Öffnung )</td>
</tr>
<tr class="row-even"><td>xAB</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe Öffnung / Schliessung der Brandschutzklappe vor
Handübersteuerung( FALSE = Schliessung, TRUE = Öffnung )</td>
</tr>
<tr class="row-odd"><td>xAlarm</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe / Sperrung der Störmeldung für die Rückmeldungen (
FALSE = Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-even"><td>xAlarmOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe / Sperrung der Störmeldung für die Rückmeldung der
Öffnung ( FALSE = Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-odd"><td>xAlarmClosed</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe / Sperrung der Störmeldung für die Rückmeldung der
Schliessung ( FALSE = Sperrung, TRUE = Freigabe )</td>
</tr>
<tr class="row-even"><td>xTestOK</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Ergebnisanzeige für den Brandschutzklappentest ( FALSE =
Test nicht erfolgreich, TRUE = Test erfolgreich )</td>
</tr>
<tr class="row-odd"><td>tLastOpen</td>
<td>TIME</td>
<td>&nbsp;</td>
<td>Zeitdauer der letzten vollständigen Öffnung in s</td>
</tr>
<tr class="row-even"><td>tLastClosed</td>
<td>TIME</td>
<td>&nbsp;</td>
<td>Zeitdauer der letzten vollständigen Schliessung in s</td>
</tr>
<tr class="row-odd"><td>tRunTime</td>
<td>TIME</td>
<td>&nbsp;</td>
<td>Zeitdauer der aktuellen Öffnung / Schliessung in s</td>
</tr>
<tr class="row-even"><td rowspan="5">Input</td>
<td>tOpen</td>
<td>TIME</td>
<td>TIME#3m0s0ms</td>
<td>Maximalzeitdauer für die Öffnung der Brandschutzklappe in s</td>
</tr>
<tr class="row-odd"><td>tClose</td>
<td>TIME</td>
<td>TIME#25s0ms</td>
<td>Maximalzeitdauer für die Schliessung der Brandschutzklappe
in s</td>
</tr>
<tr class="row-even"><td>eManModeB</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung für den digitalen Ausgang
<em>xHB</em></td>
</tr>
<tr class="row-odd"><td>xRunTest</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Anforderung des Brandschutzklappentests ( FALSE &gt; TRUE )</td>
</tr>
<tr class="row-even"><td>_StopWatch</td>
<td><a class="reference internal" href="../Time/StopWatch.html#stopwatch"><span class="std std-ref">StopWatch</span></a></td>
<td>&nbsp;</td>
<td>Zugriff auf die interne Stoppuhr</td>
</tr>
</tbody>
</table>
</dd>
</dl>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="OptStartHeat.html" class="btn btn-neutral float-right" title="OptStartHeat (FB)" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="FastHeating.html" class="btn btn-neutral float-left" title="FastHeating (FB)" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>