

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="de" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Valve3P (FB) &mdash; HVAC Building and Process Automation V3.0.0.0</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../../../',
              VERSION:'3.0.0.0',
              LANGUAGE:'de',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: ''
          };
      </script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Stichwortverzeichnis" href="../../../genindex.html" />
    <link rel="search" title="Suche" href="../../../search.html" />
    <link rel="next" title="ValveAnalog (FB)" href="ValveAnalog.html" />
    <link rel="prev" title="Valve2P (FB)" href="Valve2P.html" />
    <link href="../../../_static/style.css" rel="stylesheet" type="text/css">

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #289192" >
          

          
            <a href="../../../index.html" class="icon icon-home"> HVAC Building and Process Automation
          

          
          </a>

          
            
            
              <div class="version">
                3.0.0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../fld-HVAC-Library.html">HVAC Library</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../fld-HVAC-Functions.html">HVAC Functions</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../Alarming/fld-Alarming.html">Alarming</a></li>
<li class="toctree-l3"><a class="reference internal" href="../AutomationPortalConnector.html">AutomationPortalConnector (FB)</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Binary/fld-Binary.html">Binary</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Button/fld-Button.html">Button</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Clock/fld-Clock.html">Clock</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="fld-Components.html">Components</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="Burner3P.html">Burner3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerP.html">BurnerP (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="BurnerT.html">BurnerT (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="CoolOutProtection.html">CoolOutProtection (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Damper2P.html">Damper2P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DamperAnalog.html">DamperAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="DuoPump.html">DuoPump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Fan1Speed.html">Fan1Speed (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanAnalog.html">FanAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FanControl.html">FanControl (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FastHeating.html">FastHeating (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="FireDamperMot.html">FireDamperMot (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="OptStartHeat.html">OptStartHeat (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="PreRinseOperationValveAnalog.html">PreRinseOperationValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Pump.html">Pump (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SequenceSUPTemp.html">SequenceSUPTemp (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Shade.html">Shade (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="SmokeDetector.html">SmokeDetector (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="Valve2P.html">Valve2P (FB)</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Valve3P (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveAnalog.html">ValveAnalog (FB)</a></li>
<li class="toctree-l4"><a class="reference internal" href="ValveTherm.html">ValveTherm (FB)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../Control/fld-Control.html">Control</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Counter/fld-Counter.html">Counter</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Damping/fld-Damping.html">Damping</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Energy/fld-Energy.html">Energy</a></li>
<li class="toctree-l3"><a class="reference internal" href="../General/fld-General.html">General</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Monitoring/fld-Monitoring.html">Monitoring</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Numeric/fld-Numeric.html">Numeric</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Setpoint/fld-Setpoint.html">Setpoint</a></li>
<li class="toctree-l3"><a class="reference internal" href="../System-Info/fld-System-Info.html">System Info</a></li>
<li class="toctree-l3"><a class="reference internal" href="../Time/fld-Time.html">Time</a></li>
<li class="toctree-l3"><a class="reference internal" href="../checkLicense.html">checkLicense (FB)</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../Functions/fld-Functions.html">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../Enums/fld-Enums.html">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalConstants/fld-GlobalConstants.html">GlobalConstants</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../GlobalVariables/fld-GlobalVariables.html">GlobalVariables</a></li>
</ul>
</li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">HVAC Building and Process Automation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../../fld-HVAC-Library.html">HVAC Library</a> &raquo;</li>
        
          <li><a href="../fld-HVAC-Functions.html">HVAC Functions</a> &raquo;</li>
        
          <li><a href="fld-Components.html">Components</a> &raquo;</li>
        
      <li>Valve3P (FB)</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../_sources/HVAC-Library/HVAC-Functions/Components/Valve3P.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <span class="target" id="fld-hvac-library-fld-hvac-functions-fld-components-valve3p"></span><div class="section" id="valve3p-fb">
<span id="valve3p"></span><span id="index-0"></span><h1>Valve3P (FB)<a class="headerlink" href="#valve3p-fb" title="Link zu dieser Überschrift">¶</a></h1>
<p>FUNCTION_BLOCK Valve3P</p>
<div class="section" id="kurzbeschreibung">
<h2>Kurzbeschreibung<a class="headerlink" href="#kurzbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><div class="line-block">
<div class="line">Steuerung eines 3-Punkt-Ventilantriebs und Berechnung der Ventilposition</div>
<div class="line">Zusätzlich ist der 3-Punkt-Antrieb durch eine Blockierschutzfunktion geschützt.</div>
<div class="line">Typische Anwendung: Steuerung eines 3-Punkt-Ventilantriebs in einem Heizkreis</div>
</div>
</div></blockquote>
</div>
<div class="section" id="darstellung">
<h2>Darstellung<a class="headerlink" href="#darstellung" title="Link zu dieser Überschrift">¶</a></h2>
<blockquote>
<div><img alt="../../../_images/Valve3P_FB.png" src="../../../_images/Valve3P_FB.png" />
</div></blockquote>
</div>
<div class="section" id="schnittstellen">
<h2>Schnittstellen<a class="headerlink" href="#schnittstellen" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="eingange">
<h3>Eingänge<a class="headerlink" href="#eingange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id1">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xYOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilöffnung</td>
</tr>
<tr class="row-odd"><td><em>xYClose</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilschliessung</td>
</tr>
<tr class="row-even"><td><em>xForce</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>FALSE</td>
<td>Zwangsübersteuerung nach Handübersteuerung</td>
</tr>
<tr class="row-odd"><td><em>eAOOOpen</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>&nbsp;</td>
<td>Betriebsart der Handübersteuerung - Hardware für die Ventilöffnung</td>
</tr>
<tr class="row-even"><td><em>eAOOClose</em></td>
<td>HVACTYPES.eManBin</td>
<td>HVACTYPES.eManBin.Auto, HVACTYPES.eManBin.ManOff, HVACTYPES.eManBin.ManOn</td>
<td>&nbsp;</td>
<td>Betriebsart der Handübersteuerung - Hardware für die Ventilschliessung</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="ausgange">
<h3>Ausgänge<a class="headerlink" href="#ausgange" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id2">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><em>xHBOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilöffnung nach Handübersteuerung</td>
</tr>
<tr class="row-odd"><td><em>xHBClose</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilschliessung nach Handübersteuerung</td>
</tr>
<tr class="row-even"><td><em>xABOpen</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilöffnung vor Handübersteuerung</td>
</tr>
<tr class="row-odd"><td><em>xABClose</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilschliessung vor Handübersteuerung</td>
</tr>
<tr class="row-even"><td><em>dtAbsLastOn</em></td>
<td>DATE_AND_TIME</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Startdatum/-zeitpunkt der letzten Blockierschutzprozesses</td>
</tr>
<tr class="row-odd"><td><em>rPos</em></td>
<td>REAL</td>
<td>0.0 ... 100.0</td>
<td>&nbsp;</td>
<td>Berechnete aktuelle Ventilposition</td>
</tr>
<tr class="row-even"><td><em>xAuto</em></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Sammelmeldung Automatikbetrieb</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
<div class="section" id="sollwerte-parameter">
<h3>Sollwerte / Parameter<a class="headerlink" href="#sollwerte-parameter" title="Link zu dieser Überschrift">¶</a></h3>
<blockquote>
<div><table border="1" class="docutils" id="id3">
<colgroup>
<col width="17%" />
<col width="8%" />
<col width="8%" />
<col width="17%" />
<col width="50%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Datentyp</th>
<th class="head">Wertebereich</th>
<th class="head">Initialwert</th>
<th class="head">Funktion</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><strong>tDuration</strong></td>
<td>TIME</td>
<td>&nbsp;</td>
<td>120s</td>
<td>Laufzeit des Antriebs</td>
</tr>
<tr class="row-odd"><td><strong>udiAbsTime</strong></td>
<td>UDINT</td>
<td>0 bis 3600s</td>
<td>200s</td>
<td>Zeitdauer des Blockierschutzprozesses</td>
</tr>
<tr class="row-even"><td><strong>todAbsStartTime</strong></td>
<td>TOD</td>
<td>&nbsp;</td>
<td>TOD#09:00:00 Uhr</td>
<td>Startzeitpunkt des Blockierschutzprozesses</td>
</tr>
<tr class="row-odd"><td><strong>eAbsDay</strong></td>
<td>eDoW</td>
<td>&nbsp;</td>
<td>eDow.Montag</td>
<td>Wochentag des Blockierschutzprozesses</td>
</tr>
<tr class="row-even"><td><strong>xForceOption</strong></td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>TRUE</td>
<td>Zustand der Ausgänge <em>xHBOpen</em> bzw. <em>xHBClose</em> bei Zwangsübersteuerung</td>
</tr>
<tr class="row-odd"><td><strong>eManModeOpen</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.Off, eMANBIN.On</td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung - Venilöffnung</td>
</tr>
<tr class="row-even"><td><strong>eManModeClose</strong></td>
<td>eMANBIN</td>
<td>eMANBIN.Auto, eMANBIN.Off, eMANBIN.On</td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung - Venilschliessung</td>
</tr>
</tbody>
</table>
</div></blockquote>
</div>
</div>
<div class="section" id="funktionsbeschreibung">
<h2>Funktionsbeschreibung<a class="headerlink" href="#funktionsbeschreibung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="section" id="allgemeines">
<h3>Allgemeines<a class="headerlink" href="#allgemeines" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Dieser Funktionsbaustein dient zur Steuerung der Position eines 3-Punkt-Ventilantriebs durch die Ausgänge Freigabe - Ventilöffnung nach Handübersteuerung <em>xHBOpen</em> bzw. <em>xHBClose</em>.</div>
<div class="line">Die aktuelle Ventilposition wird permanent berechnet und steht am Ausgang <em>rPos</em> zur Verfügung.</div>
<div class="line">Es kommen im Wesentlichen folgende Funktionsbausteine zur Anwendung:</div>
</div>
<p><a class="reference internal" href="../Binary/Abs3P.html#abs3p"><span class="std std-ref">Abs3P</span></a></p>
<p><a class="reference internal" href="../Binary/ManBin.html#manbin"><span class="std std-ref">ManBin</span></a></p>
<p><a class="reference internal" href="../Monitoring/Position3P.html#position3p"><span class="std std-ref">Position3P</span></a></p>
</div>
<div class="section" id="blockierschutzprozess">
<h3>Blockierschutzprozess<a class="headerlink" href="#blockierschutzprozess" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Dieser Prozess wird durch die Überwachung der Signale 1 und 2 auf Aktivität und bei Bedarf durch die Auslösung des Blockierschutzes realisiert.</div>
<div class="line">Der Prüfzeitraum umfasst dabei jeweils 168 Stunden ( = 1 Woche ).</div>
<div class="line">Die Signale 1 und 2 sind aktiv, falls sie im Prüfzeitraum während der minimalen Betriebsdauer von 30.0s durchgehend aktiv sind ( Nur Signal 1 oder nur Signal 2 oder beide ).</div>
<div class="line">Der Blockierschutzprozess wird damit unterbunden, die Prüfzeit startet erneut.</div>
<div class="line"><br /></div>
<div class="line">Signal 1: ( <em>xYOpen</em> UND <em>eAOOOpen</em> = HVACTYPES.eManBin.Auto ) ODER ( eAOOOpen = HVACTYPES.eManBin.ManOn )</div>
<div class="line"><br /></div>
<div class="line">Signal 2: ( <em>xYClose</em> UND <em>eAOOClose</em> = HVACTYPES.eManBin.Auto ) ODER ( eAOOClose = HVACTYPES.eManBin.ManOn )</div>
<div class="line"><br /></div>
<div class="line">Wurde während des Prüfzeitraums keine Aktivität erfasst, so wird der Blockierschutzprozess am Wochentag <strong>eAbsDay</strong> zur Uhrzeit <strong>todAbsStartTime</strong> ausgelöst.</div>
<div class="line">Gleichzeitig startet die Prüfzeitdauer erneut.</div>
<div class="line"><br /></div>
<div class="line">Der aktive Blockierschutzprozess wird in zwei aufeinander folgende Zeitabschnitte unterteilt ( Abschnitt 1 und Abschnitt 2 )</div>
<div class="line">Im Abschnitt 1 wird während der Zeitdauer <strong>udiAbsTime</strong> die Kombination Freigabe - Ausgang <em>xABOpen</em> = TRUE, Freigabe - Ausgang <em>xABClose</em> = FALSE ausgegeben.</div>
<div class="line">Im Abschnitt 2 wird während der Zeitdauer <strong>udiAbsTime</strong> die Kombination Freigabe - Ausgang <em>xABOpen</em> = FALSE, Freigabe - Ausgang <em>xABClose</em> = TRUE ausgegeben.</div>
<div class="line"><br /></div>
<div class="line">Die erstmalige Auslösung der Blockierschutzprozesses kann je nach den relevanten Einstellungen ( Wochentag <strong>eAbsDay</strong> und <strong>todAbsStartTime</strong> )
verzögert sein.</div>
</div>
<div class="topic">
<p class="topic-title first">Beispiel</p>
<div class="line-block">
<div class="line">Prüfzeit am Dienstagmorgen beendet, Auslösung des Blockierschutzprozesses erst am kommenden Montag.</div>
</div>
</div>
<div class="line-block">
<div class="line"><br /></div>
<div class="line">Am Ausgang <em>dtAbsLastOn</em> steht das Startdatum und der Startzeitpunkt der letzten Blockierschutzprozesses zur Verfügung.</div>
<div class="line"><br /></div>
</div>
<div class="topic">
<p class="topic-title first">Voraussetzung für den Einsatz des Funktionsbausteins Abs3P</p>
<div class="line-block">
<div class="line">Zur korrekten Funktion ist der Einsatz des Funktionsbausteins TimeRead mit <em>xEn</em> = TRUE erforderlich.</div>
</div>
</div>
</div>
<div class="section" id="freigabe-ventiloffnung-vor-handubersteuerung-xabopen">
<h3>Freigabe - Ventilöffnung vor Handübersteuerung <em>xABOpen</em><a class="headerlink" href="#freigabe-ventiloffnung-vor-handubersteuerung-xabopen" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilöffnung vor Handübersteuerung <em>xABOpen</em> wird durch den Eingang Anforderung - Ventilöffnung <em>xYOpen</em> und das Blockierschutzmodul beeinflusst.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-1">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="38%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xYOpen</em></th>
<th class="head">Blockierschutzprozess</th>
<th class="head"><em>xABOpen</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>FALSE</td>
<td>FALSE</td>
<td>Anforderung nicht aktiv, kein Blockierschutzprozess</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>TRUE</td>
<td>Abschnitt 1: TRUE Abschnitt 2: FALSE</td>
<td>Blockierschutzprozess aktiv</td>
</tr>
<tr class="row-even"><td>TRUE</td>
<td>FALSE</td>
<td>TRUE</td>
<td>Anforderung aktiv, kein Blockierschutzprozess</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="freigabe-ventilschliessung-vor-handubersteuerung-xabclose">
<h3>Freigabe - Ventilschliessung vor Handübersteuerung <em>xABClose</em><a class="headerlink" href="#freigabe-ventilschliessung-vor-handubersteuerung-xabclose" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilschliessung vor Handübersteuerung <em>xABClose</em> wird durch den Eingang Anforderung - Ventilschliessung <em>xYClose</em> und das Blockierschutzmodul beeinflusst.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-2">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="38%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xYClose</em></th>
<th class="head">Blockierschutzprozess</th>
<th class="head"><em>xABClose</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>FALSE</td>
<td>FALSE</td>
<td>Anforderung nicht aktiv, kein Blockierschutzprozess</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>TRUE</td>
<td>Abschnitt 1: FALSE Abschnitt 2: TRUE</td>
<td>Blockierschutzprozess aktiv</td>
</tr>
<tr class="row-even"><td>TRUE</td>
<td>FALSE</td>
<td>TRUE</td>
<td>Anforderung aktiv, kein Blockierschutzprozess</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="freigabe-ventiloffnung-nach-handubersteuerung-xhbopen">
<h3>Freigabe - Ventilöffnung nach Handübersteuerung <em>xHBOpen</em><a class="headerlink" href="#freigabe-ventiloffnung-nach-handubersteuerung-xhbopen" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - Ventilöffnung nach Handübersteuerung <em>xHBOpen</em> entspricht der Freigabe - Ventilöffnung vor Handübersteuerung <em>xABOpen</em>
zusätzlich erweitert um ein Handübersteuermodul und um eine Zwangsübersteuerung.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-3">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xABOpen</em></th>
<th class="head"><strong>eManModeOpen</strong></th>
<th class="head"><em>xForce</em></th>
<th class="head"><strong>xForceOption</strong></th>
<th class="head"><em>xHBOpen</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.On</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Handbetrieb Ein</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.Off</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Handbetrieb Aus</td>
</tr>
<tr class="row-even"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>FALSE</td>
<td>FALSE</td>
<td>Zwangsübersteuerung Zu</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>TRUE</td>
<td>TRUE</td>
<td>Zwangsübersteuerung Auf</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="freigabe-ventilschliessung-nach-handubersteuerung-xhbclose">
<h3>Freigabe - Ventilschliessung nach Handübersteuerung <em>xHBClose</em><a class="headerlink" href="#freigabe-ventilschliessung-nach-handubersteuerung-xhbclose" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Freigabe - VentilSchliessung nach Handübersteuerung <em>xHBClose</em> entspricht der Freigabe - Ventilschliessung vor Handübersteuerung <em>xABClose</em>
zusätzlich erweitert um ein Handübersteuermodul und um eine Zwangsübersteuerung.</div>
</div>
<blockquote>
<div><table border="1" class="docutils" id="funktionstabelle-4">
<colgroup>
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="13%" />
<col width="38%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><em>xABClose</em></th>
<th class="head"><strong>eManModeOpen</strong></th>
<th class="head"><em>xForce</em></th>
<th class="head"><strong>xForceOption</strong></th>
<th class="head"><em>xHBClose</em></th>
<th class="head">Hinweise</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>FALSE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-odd"><td>TRUE</td>
<td>eMANBIN.Auto</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Automatik</td>
</tr>
<tr class="row-even"><td>X</td>
<td>eMANBIN.On</td>
<td>FALSE</td>
<td>X</td>
<td>TRUE</td>
<td>Handübersteuermodul in Handbetrieb Ein</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>eMANBIN.Off</td>
<td>FALSE</td>
<td>X</td>
<td>FALSE</td>
<td>Handübersteuermodul in Handbetrieb Aus</td>
</tr>
<tr class="row-even"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>FALSE</td>
<td>FALSE</td>
<td>Zwangsübersteuerung Zu</td>
</tr>
<tr class="row-odd"><td>X</td>
<td>X</td>
<td>TRUE</td>
<td>TRUE</td>
<td>TRUE</td>
<td>Zwangsübersteuerung Auf</td>
</tr>
</tbody>
</table>
</div></blockquote>
<div class="line-block">
<div class="line">Legende: X = beliebig</div>
</div>
</div>
<div class="section" id="zwangsteuerung-der-handubersteuerungen-der-ausgange">
<h3>Zwangsteuerung der Handübersteuerungen der Ausgänge<a class="headerlink" href="#zwangsteuerung-der-handubersteuerungen-der-ausgange" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Befindet sich die Betriebsart der Handübersteuerung - Venilöffnung <strong>eManModeOpen</strong> im Zustand eMANBIN.On ( = Handübersteuerung Öffnen aktiv ),
dann wird zwangsläufig die Betriebsart der Handübersteuerung - Venilschliessung <strong>eManModeClose</strong> in den Zustand eMANBIN.Off
( = Handübersteuerung Schliessen nicht aktiv ) versetzt.</div>
<div class="line"><br /></div>
<div class="line">Befindet sich die Betriebsart der Handübersteuerung - Venilschliessung <strong>eManModeClose</strong> im Zustand eMANBIN.On ( = Handübersteuerung Schliessen aktiv ),
dann wird zwangsläufig die Betriebsart der Handübersteuerung - Venilöffnung <strong>eManModeOpen</strong> in den Zustand eMANBIN.Off
( = Handübersteuerung Öffnen nicht aktiv ) versetzt.</div>
</div>
</div>
<div class="section" id="aktuelle-ventilposition-rpos">
<h3>Aktuelle Ventilposition <em>rPos</em><a class="headerlink" href="#aktuelle-ventilposition-rpos" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Sie dient zur Anzeige der aktuellen Position des 3-Punkt-Antriebes im Bereich 0 - 100% und wird aus der Zeitdauer der Signale an den Ausgängen
Freigabe - Ventilöffnung nach Handübersteuerung <em>xHBOpen</em> und Freigabe - Ventilschliessung nach Handübersteuerung <em>xHBClose</em> in Kombination mit
der Laufzeit des Antriebs <strong>tDuration</strong> berechnet.</div>
<div class="line"><br /></div>
<div class="line">Die Positionsanzeige ist unabhängig von der Signalerzeugung, d.h. erreicht die Positionsanzeige eine Endposition ( 0% oder 100% ), so werden
trotzdem weiterhin Signale an den Ausgängen <em>xABOpen</em> und <em>xABClose</em> bzw. <em>xHBOpen</em> und <em>xHBClose</em> erzeugt.</div>
<div class="line">Die Positionsanzeige berücksichtigt nicht die eventuellen Positionsänderungen durch die Handübersteuerung - Hardware.</div>
</div>
</div>
<div class="section" id="sammelmeldung-automatikbetrieb-xauto">
<h3>Sammelmeldung Automatikbetrieb <em>xAuto</em><a class="headerlink" href="#sammelmeldung-automatikbetrieb-xauto" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Sammelmeldung Automatikbetrieb <em>xAuto</em> wird aktiviert ( = TRUE ), falls folgende Bedingungen gleichzeitig erfüllt sind:</div>
<div class="line"><br /></div>
<div class="line">- Eingang <em>eAOOUp</em> = HVACTYPES.eManBin.Auto</div>
<div class="line">- Eingang <em>eAOODown</em> = HVACTYPES.eManBin.Auto</div>
<div class="line">- Sollwert / Parameter <strong>eManModeUp</strong> = eMANBIN.Auto</div>
<div class="line">- Sollwert / Parameter <strong>eManModeDown</strong> = eMANBIN.Auto</div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="zwangsubersteuerung-xforce">
<h3>Zwangsübersteuerung <em>xForce</em><a class="headerlink" href="#zwangsubersteuerung-xforce" title="Link zu dieser Überschrift">¶</a></h3>
<div class="line-block">
<div class="line">Die Zwangsübersteuerung wirkt direkt auf die Ausgänge <em>xHBOpen</em> und <em>xHBClose</em>. Mit dem Parameter <strong>xForceOption</strong> wird festgelegt, welchen Zustand der Ausgang <em>xHB</em> bei TRUE am Eingang <em>xForce</em> einnimmt.</div>
<div class="line"><br /></div>
<div class="line">Bei <strong>xForceOption</strong> = FALSE</div>
<div class="line">Befindet sich der Eingang <em>xForce</em> auf TRUE, dann wird der Ausgang <em>xHBOpen</em> auf FALSE und gleichzeitig der Ausgang <em>xHBClose</em> auf TRUE gesetzt.</div>
<div class="line"><br /></div>
<div class="line">Bei <strong>xForceOption</strong> = TRUE</div>
<div class="line">Befindet sich der Eingang <em>xForce</em> auf TRUE, dann wird der Ausgang <em>xHBOpen</em> auf TRUE und gleichzeitig der Ausgang <em>xHBClose</em> auf FALSE gesetzt.</div>
<div class="line"><br /></div>
</div>
</div>
</div>
<div class="section" id="visualisierung">
<h2>Visualisierung<a class="headerlink" href="#visualisierung" title="Link zu dieser Überschrift">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="codesys">
<h2>Codesys<a class="headerlink" href="#codesys" title="Link zu dieser Überschrift">¶</a></h2>
<dl class="docutils">
<dt>InOut:</dt>
<dd><table border="1" class="first last docutils">
<colgroup>
<col width="7%" />
<col width="15%" />
<col width="11%" />
<col width="15%" />
<col width="52%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Scope</th>
<th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Initial</th>
<th class="head">Comment</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td rowspan="5">Input</td>
<td>xYOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilöffnung</td>
</tr>
<tr class="row-odd"><td>xYClose</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Stellsignal - Ventilschliessung</td>
</tr>
<tr class="row-even"><td>xForce</td>
<td>BOOL</td>
<td>FALSE</td>
<td>Zwangsübersteuerung nach Handebene</td>
</tr>
<tr class="row-odd"><td>eAOOOpen</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>&nbsp;</td>
<td>Betriebsart der Handübersteuerung - Hardware für die
Ventilöffnung</td>
</tr>
<tr class="row-even"><td>eAOOClose</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eManBin</span></a></td>
<td>&nbsp;</td>
<td>Betriebsart der Handübersteuerung - Hardware für die
Ventilschliessung</td>
</tr>
<tr class="row-odd"><td rowspan="7">Output</td>
<td>xHBOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilöffnung nach Handübersteuerung</td>
</tr>
<tr class="row-even"><td>xHBClose</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilschliessung nach Handübersteuerung</td>
</tr>
<tr class="row-odd"><td>xABOpen</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilöffnung vor Handübersteuerung</td>
</tr>
<tr class="row-even"><td>xABClose</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Freigabe - Ventilschliessung vor Handübersteuerung</td>
</tr>
<tr class="row-odd"><td>dtAbsLastOn</td>
<td>DT</td>
<td>&nbsp;</td>
<td>Startdatum/-zeitpunkt der letzten Blockierschutzprozesses</td>
</tr>
<tr class="row-even"><td>rPos</td>
<td>REAL</td>
<td>&nbsp;</td>
<td>Berechnete aktuelle Ventilposition</td>
</tr>
<tr class="row-odd"><td>xAuto</td>
<td>BOOL</td>
<td>&nbsp;</td>
<td>Sammelmeldung Automatikbetrieb</td>
</tr>
<tr class="row-even"><td rowspan="7">Input</td>
<td>tDuration</td>
<td>TIME</td>
<td>TIME#2m0s0ms</td>
<td>Laufzeit des Antriebs</td>
</tr>
<tr class="row-odd"><td>udiAbsTime</td>
<td>UDINT</td>
<td>200</td>
<td>Zeitdauer des Blockierschutzprozesses</td>
</tr>
<tr class="row-even"><td>todAbsStartTime</td>
<td>TOD</td>
<td>TIME_OF_DAY#9:0</td>
<td>Startzeitpunkt des Blockierschutzprozesses</td>
</tr>
<tr class="row-odd"><td>eAbsDay</td>
<td><a class="reference internal" href="../../Enums/eDoW.html#edow"><span class="std std-ref">eDoW</span></a></td>
<td>eDow.Monday</td>
<td>Wochentag des Blockierschutzprozesses</td>
</tr>
<tr class="row-even"><td>xForceOption</td>
<td>BOOL</td>
<td>TRUE</td>
<td>Zustand der Ausgänge <em>xHBOpen</em> bzw. <em>xHBClose</em> bei
Zwangsübersteuerung</td>
</tr>
<tr class="row-odd"><td>eManModeOpen</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung - Ventilöffnung</td>
</tr>
<tr class="row-even"><td>eManModeClose</td>
<td><a class="reference internal" href="../../Enums/eManBin.html#emanbin"><span class="std std-ref">eMANBIN</span></a></td>
<td>eMANBIN.Auto</td>
<td>Betriebsart der Handübersteuerung - Ventilschliessung</td>
</tr>
</tbody>
</table>
</dd>
</dl>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="ValveAnalog.html" class="btn btn-neutral float-right" title="ValveAnalog (FB)" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="Valve2P.html" class="btn btn-neutral float-left" title="Valve2P (FB)" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, HVAC by Pfaender

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>